/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.AcceptInviteBody
import com.spela.client.models.AdminCreateRomHackResponse
import com.spela.client.models.AdminCreateUserRequest
import com.spela.client.models.AdminRAStatusResponse
import com.spela.client.models.AdminStatsResponse
import com.spela.client.models.AdminUpdateUserRequest
import com.spela.client.models.ApplyIGDBMatchRequest
import com.spela.client.models.BackfillImagesResponse
import com.spela.client.models.BiosDownloadStartedResponse
import com.spela.client.models.BiosFileResponse
import com.spela.client.models.CheatStatsResponse
import com.spela.client.models.CheckUploadsWritableResponse
import com.spela.client.models.CoreCompatibilityResponse
import com.spela.client.models.DeletedUserResponse
import com.spela.client.models.DeviceResponse
import com.spela.client.models.DismissedResponse
import com.spela.client.models.EnrichmentStartedResponse
import com.spela.client.models.EnrichmentStatusResponse
import com.spela.client.models.GameCoversResponse
import com.spela.client.models.GameHeroesResponse
import com.spela.client.models.GameResponse
import com.spela.client.models.HumaError
import com.spela.client.models.IGDBSearchResult
import com.spela.client.models.IGDBStatusResponse
import com.spela.client.models.ImportResult
import com.spela.client.models.IssueInviteOutputBody
import com.spela.client.models.ListExchangesOutputBody
import com.spela.client.models.ListPeersOutputBody
import com.spela.client.models.MessageResponse
import com.spela.client.models.MetadataMatchesResponse
import com.spela.client.models.PairResponseBody
import com.spela.client.models.PingResult
import com.spela.client.models.RateLimitResponse
import com.spela.client.models.RefreshAchievementsResponse
import com.spela.client.models.RefreshCatalogOutputBody
import com.spela.client.models.RefreshStatsOutputBody
import com.spela.client.models.ReplaceROMResponse
import com.spela.client.models.RevokePeerOutputBody
import com.spela.client.models.ScanStartedResponse
import com.spela.client.models.ScanStatusResponse
import com.spela.client.models.ScrapeGameResponse
import com.spela.client.models.ScrapeStartedResponse
import com.spela.client.models.ScrapeStatusCountsResponse
import com.spela.client.models.ScrapeStatusResponse
import com.spela.client.models.SetGameCoverRequest
import com.spela.client.models.SetGameHeroRequest
import com.spela.client.models.SetUploadConsoleRequest
import com.spela.client.models.StagedUploadResponse
import com.spela.client.models.SteamGridDBStatusResponse
import com.spela.client.models.SystemEventCategoryResponse
import com.spela.client.models.SystemEventResponse
import com.spela.client.models.SystemEventTypesResponse
import com.spela.client.models.SystemEventsListResponse
import com.spela.client.models.TestIGDBRequest
import com.spela.client.models.TestIGDBResponse
import com.spela.client.models.UpdateGameMetadataRequest
import com.spela.client.models.UpdatePeerPolicyBody
import com.spela.client.models.UpdatePeerPolicyOutputBody
import com.spela.client.models.UpdateVerificationTagRequest
import com.spela.client.models.UpdateVerificationTagResponse
import com.spela.client.models.UserResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Accept all non-duplicate staged uploads
     * Admin-only. Accepts every upload currently in ready or pending_scrape state (with a console set).
     * @return kotlin.collections.Map<kotlin.String, kotlin.Long>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun acceptAllUploads(): HttpResponse<kotlin.collections.Map<kotlin.String, kotlin.Long>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/uploads/accept-all",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<AcceptAllUploadsResponse>().map { value }
    }

    @Serializable(AcceptAllUploadsResponse.Companion::class)
    private class AcceptAllUploadsResponse(val value: Map<kotlin.String, kotlin.Long>) {
        companion object : KSerializer<AcceptAllUploadsResponse> {
            private val serializer: KSerializer<Map<kotlin.String, kotlin.Long>> = serializer<Map<String, kotlin.Long>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: AcceptAllUploadsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = AcceptAllUploadsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Accept a staged upload
     * Admin-only. Moves the staged ROM into the library and creates a Game record.
     * @param id Staged upload ID.
     * @return GameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun acceptUpload(id: kotlin.String): HttpResponse<GameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/uploads/{id}/accept".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a ROM hack from a patch file
     * Admin-only. Applies the supplied patch file to a base game&#39;s ROM and creates a new game record. In &#39;variant&#39; mode the new game shares the base game&#39;s group and inherits its metadata; in &#39;standalone&#39; mode it gets its own group with the base game as parent.
     * @param baseGameId Numeric ID of the base game whose ROM the patch applies to. (optional)
     * @param label Variant label (required when mode&#x3D;&#39;variant&#39;). Appears in brackets after the base title. (optional)
     * @param mode &#39;variant&#39; (groups with the base game) or &#39;standalone&#39; (creates an independent game). (optional)
     * @param patchFile Patch file (.ips, .bps, .ups, .xdelta, .vcdiff). Max 100 MB. (optional)
     * @param title Standalone title (required when mode&#x3D;&#39;standalone&#39;). (optional)
     * @return AdminCreateRomHackResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCreateRomHack(baseGameId: kotlin.String? = null, label: kotlin.String? = null, mode: kotlin.String? = null, patchFile: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null, title: kotlin.String? = null): HttpResponse<AdminCreateRomHackResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                baseGameId?.apply { append("baseGameId", baseGameId) }
                label?.apply { append("label", label) }
                mode?.apply { append("mode", mode) }
                patchFile?.apply { append(patchFile) }
                title?.apply { append("title", title) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/rom-hacks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a user
     * Admin-only. Creates a new user account with a hashed password. Role defaults to &#39;user&#39; if not specified; &#39;owner&#39; is rejected.
     * @param adminCreateUserRequest 
     * @return UserResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCreateUser(adminCreateUserRequest: AdminCreateUserRequest): HttpResponse<UserResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = adminCreateUserRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete a user
     * Admin-only. Soft-deletes a user and cascades to per-user preferences, devices, social data, collections, shared saves, RA credentials, challenges, shared sessions, netplay sessions and refresh tokens.
     * @param id User ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminDeleteUser(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/admin/users/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Admin: list a user&#39;s devices
     * Admin-only. Returns all devices registered to the specified user with per-console shader preferences.
     * @param id User ID.
     * @return kotlin.collections.List<DeviceResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminGetUserDevices(id: kotlin.String): HttpResponse<kotlin.collections.List<DeviceResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/users/{id}/devices".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<AdminGetUserDevicesResponse>().map { value }
    }

    @Serializable(AdminGetUserDevicesResponse.Companion::class)
    private class AdminGetUserDevicesResponse(val value: List<DeviceResponse>) {
        companion object : KSerializer<AdminGetUserDevicesResponse> {
            private val serializer: KSerializer<List<DeviceResponse>> = serializer<List<DeviceResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: AdminGetUserDevicesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = AdminGetUserDevicesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Replace a game&#39;s ROM
     * Admin-only. Replaces the existing ROM file for the given game and re-verifies it against the DAT registry. Accepts a raw ROM file or a .zip containing one.
     * @param id Numeric game ID.
     * @param file Replacement ROM file (or .zip containing one). Max 50 GB. (optional)
     * @return ReplaceROMResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminReplaceROM(id: kotlin.String, file: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null): HttpResponse<ReplaceROMResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                file?.apply { append(file) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/admin/games/{id}/replace-rom".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a user
     * Admin-only. Updates role, password, disabled or pendingApproval fields. Owner role is protected from changes.
     * @param id User ID.
     * @param adminUpdateUserRequest 
     * @return UserResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminUpdateUser(id: kotlin.String, adminUpdateUserRequest: AdminUpdateUserRequest): HttpResponse<UserResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = adminUpdateUserRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/admin/users/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Upload a BIOS file
     * Admin-only. Stores the uploaded file in the BIOS directory and matches it against the registry by filename, falling back to MD5 lookup. Returns the resulting BIOS file metadata. Max 16 MB.
     * @param file BIOS file to upload (max 16 MB). (optional)
     * @return BiosFileResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminUploadBios(file: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null): HttpResponse<BiosFileResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                file?.apply { append(file) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/bios",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Stage ROM file uploads
     * Admin-only. Accepts one or more ROM files (or .zip archives containing ROMs) and stages them for review. Each archive is extracted and its individual ROMs are staged separately. Returns one StagedUploadResponse per resulting file.
     * @param files  (optional)
     * @return kotlin.collections.List<StagedUploadResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminUploadROMs(files: kotlin.collections.List<io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>>? = null): HttpResponse<kotlin.collections.List<StagedUploadResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                files?.onEach {
                    append(it)
                }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/uploads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<AdminUploadROMsResponse>().map { value }
    }

    @Serializable(AdminUploadROMsResponse.Companion::class)
    private class AdminUploadROMsResponse(val value: List<StagedUploadResponse>) {
        companion object : KSerializer<AdminUploadROMsResponse> {
            private val serializer: KSerializer<List<StagedUploadResponse>> = serializer<List<StagedUploadResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: AdminUploadROMsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = AdminUploadROMsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Re-scrape a game with a chosen IGDB match
     * Admin-only. Re-runs metadata scraping using the supplied IGDB game ID.
     * @param id Game ID.
     * @param applyIGDBMatchRequest 
     * @return GameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun applyIGDBMatch(id: kotlin.String, applyIGDBMatchRequest: ApplyIGDBMatchRequest): HttpResponse<GameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = applyIGDBMatchRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/games/{id}/igdb-match".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Download external CDN images locally
     * Admin-only. One-shot migration that downloads external IGDB/SteamGridDB image URLs and swaps them to local paths.
     * @return BackfillImagesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun backfillImages(): HttpResponse<BackfillImagesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/backfill-images",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Cancel the active scrape
     * Admin-only. Cancels the currently running scrape job. Kicks off a post-cancel variant-regroup pass.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun cancelScrape(): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/admin/scrape",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Check whether the game library directory is writable
     * Admin-only. Verifies that the staging/game library directory is writable.
     * @return CheckUploadsWritableResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun checkUploadsWritable(): HttpResponse<CheckUploadsWritableResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/uploads/writable",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Clear the staging directory
     * Admin-only. Deletes every staged ROM from disk and drops all staging records. Alias for reject-all.
     * @return kotlin.collections.Map<kotlin.String, kotlin.Long>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun clearStaging(): HttpResponse<kotlin.collections.Map<kotlin.String, kotlin.Long>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/admin/uploads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ClearStagingResponse>().map { value }
    }

    @Serializable(ClearStagingResponse.Companion::class)
    private class ClearStagingResponse(val value: Map<kotlin.String, kotlin.Long>) {
        companion object : KSerializer<ClearStagingResponse> {
            private val serializer: KSerializer<Map<kotlin.String, kotlin.Long>> = serializer<Map<String, kotlin.Long>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ClearStagingResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ClearStagingResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Delete a BIOS file
     * Admin-only. Removes a BIOS file from disk.
     * @param filename BIOS file name.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteBiosFile(filename: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/admin/bios/{filename}".replace("{" + "filename" + "}", "$filename"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Dismiss a system event
     * Admin-only. Marks the event as dismissed (sets dismissed_at). Dismissed events are hidden from the default list view.
     * @param id System event ID.
     * @return DismissedResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun dismissSystemEvent(id: kotlin.String): HttpResponse<DismissedResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/admin/system-events/{id}/dismiss".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Accept a friend&#39;s invite and pair
     * 
     * @param acceptInviteBody 
     * @return PairResponseBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationAcceptInvite(acceptInviteBody: AcceptInviteBody): HttpResponse<PairResponseBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = acceptInviteBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/federation/peers/accept",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Issue a federation pairing invite
     * 
     * @return IssueInviteOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationIssueInvite(): HttpResponse<IssueInviteOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/federation/invite",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the federation exchange ledger (observability)
     * 
     * @param peer  (optional)
     * @param direction  (optional)
     * @param operation  (optional)
     * @param status  (optional)
     * @param startedAfter  (optional)
     * @param startedBefore  (optional)
     * @param limit  (optional)
     * @return ListExchangesOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationListExchanges(peer: kotlin.String? = null, direction: kotlin.String? = null, operation: kotlin.String? = null, status: kotlin.String? = null, startedAfter: kotlin.String? = null, startedBefore: kotlin.String? = null, limit: kotlin.Long? = null): HttpResponse<ListExchangesOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        peer?.apply { localVariableQuery["peer"] = listOf("$peer") }
        direction?.apply { localVariableQuery["direction"] = listOf("$direction") }
        operation?.apply { localVariableQuery["operation"] = listOf("$operation") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        startedAfter?.apply { localVariableQuery["startedAfter"] = listOf("$startedAfter") }
        startedBefore?.apply { localVariableQuery["startedBefore"] = listOf("$startedBefore") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/federation/exchanges",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List federation peers (with health)
     * 
     * @return ListPeersOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationListPeers(): HttpResponse<ListPeersOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/federation/peers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Refresh cached friend game catalogs now
     * 
     * @return RefreshCatalogOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationRefreshCatalog(): HttpResponse<RefreshCatalogOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/federation/catalog/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Refresh cached friend stat rollups now
     * 
     * @return RefreshStatsOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationRefreshStats(): HttpResponse<RefreshStatsOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/federation/stats/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Revoke a federation peer
     * 
     * @param fingerprint Peer fingerprint (base32).
     * @return RevokePeerOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationRevokePeer(fingerprint: kotlin.String): HttpResponse<RevokePeerOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/admin/federation/peers/{fingerprint}".replace("{" + "fingerprint" + "}", "$fingerprint"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Test connection to a peer
     * 
     * @param fingerprint Peer fingerprint (base32).
     * @return PingResult
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationTestPeer(fingerprint: kotlin.String): HttpResponse<PingResult> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/federation/peers/{fingerprint}/test".replace("{" + "fingerprint" + "}", "$fingerprint"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a peer&#39;s share/consume policy
     * 
     * @param fingerprint Peer fingerprint (base32).
     * @param updatePeerPolicyBody 
     * @return UpdatePeerPolicyOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationUpdatePeerPolicy(fingerprint: kotlin.String, updatePeerPolicyBody: UpdatePeerPolicyBody): HttpResponse<UpdatePeerPolicyOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updatePeerPolicyBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/admin/federation/peers/{fingerprint}/policy".replace("{" + "fingerprint" + "}", "$fingerprint"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get RetroAchievements API status
     * Admin-only. Returns whether the server-level RA API key is configured and the credential source (env, database, none).
     * @return AdminRAStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAdminRAStatus(): HttpResponse<AdminRAStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/ra/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get server settings
     * Admin-only. Returns server settings as a flat key/value map; secret keys (client secrets, API keys) are masked with ********.
     * @return kotlin.collections.Map<kotlin.String, kotlin.String>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAdminSettings(): HttpResponse<kotlin.collections.Map<kotlin.String, kotlin.String>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/settings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetAdminSettingsResponse>().map { value }
    }

    @Serializable(GetAdminSettingsResponse.Companion::class)
    private class GetAdminSettingsResponse(val value: Map<kotlin.String, kotlin.String>) {
        companion object : KSerializer<GetAdminSettingsResponse> {
            private val serializer: KSerializer<Map<kotlin.String, kotlin.String>> = serializer<Map<String, kotlin.String>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetAdminSettingsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetAdminSettingsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get admin dashboard stats
     * Admin-only. Returns total counts of users, games, consoles with games, and session saves.
     * @return AdminStatsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAdminStats(): HttpResponse<AdminStatsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get cheat statistics
     * Admin-only. Returns counts of total cheats, games with cheats, total games, and verified games.
     * @return CheatStatsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCheatStats(): HttpResponse<CheatStatsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/cheats/stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get core compatibility table
     * Admin-only. Returns the compatibility matrix between native-player cores and EmulatorJS cores per console.
     * @return CoreCompatibilityResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCoreCompatibility(): HttpResponse<CoreCompatibilityResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/core-compatibility",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get enrichment status
     * Admin-only. Returns whether an enrichment pass is active and its current progress.
     * @return EnrichmentStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getEnrichMetadataStatus(): HttpResponse<EnrichmentStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/enrich-metadata/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List available cover art options for a game
     * Admin-only. Returns all known cover sources (LibRetro, IGDB, regional LibRetro variants) and which source is currently active.
     * @param id Game ID.
     * @return GameCoversResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getGameCovers(id: kotlin.String): HttpResponse<GameCoversResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/games/{id}/covers".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List available hero art options from SteamGridDB
     * Admin-only. Returns hero art options fetched from SteamGridDB for the game.
     * @param id Game ID.
     * @return GameHeroesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getGameHeroes(id: kotlin.String): HttpResponse<GameHeroesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/games/{id}/heroes".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get current IGDB configuration status
     * Admin-only. Reports whether IGDB is configured via env vars, DB settings, or not at all.
     * @return IGDBStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getIGDBStatus(): HttpResponse<IGDBStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/igdb/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get games needing metadata attention
     * Admin-only. Returns unscraped, unverified, and incomplete games (scraped only via LibRetro fallback).
     * @return MetadataMatchesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMetadataMatches(): HttpResponse<MetadataMatchesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/metadata-matches",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get current scan status
     * Admin-only. Returns whether a scan is currently active and the latest phase / progress.
     * @return ScanStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getScanStatus(): HttpResponse<ScanStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/games/scan/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get scrape status
     * Admin-only. Returns the current scrape job state (active, counts, mode).
     * @return ScrapeStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getScrapeStatus(): HttpResponse<ScrapeStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/scrape/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get scrape result counts
     * Admin-only. Returns aggregate scrape result counts per source (matched, not found, error, not attempted).
     * @return ScrapeStatusCountsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getScrapeStatusCounts(): HttpResponse<ScrapeStatusCountsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/scrape/counts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get SteamGridDB status
     * Admin-only. Returns whether SteamGridDB is configured and the credential source (env, database, none).
     * @return SteamGridDBStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSteamGridDBStatus(): HttpResponse<SteamGridDBStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/steamgriddb/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a single system event
     * Admin-only. Returns the full system event record with metadata.
     * @param id System event ID.
     * @return SystemEventResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSystemEvent(id: kotlin.String): HttpResponse<SystemEventResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/system-events/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get the system event categories
     * Admin-only. Returns the seeded set of system event categories.
     * @return kotlin.collections.List<SystemEventCategoryResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSystemEventCategories(): HttpResponse<kotlin.collections.List<SystemEventCategoryResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/system-events/categories",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetSystemEventCategoriesResponse>().map { value }
    }

    @Serializable(GetSystemEventCategoriesResponse.Companion::class)
    private class GetSystemEventCategoriesResponse(val value: List<SystemEventCategoryResponse>) {
        companion object : KSerializer<GetSystemEventCategoriesResponse> {
            private val serializer: KSerializer<List<SystemEventCategoryResponse>> = serializer<List<SystemEventCategoryResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetSystemEventCategoriesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetSystemEventCategoriesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get the system event type catalog
     * Admin-only. Returns every event type the server may emit with its category classification.
     * @return SystemEventTypesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSystemEventTypes(): HttpResponse<SystemEventTypesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/system-events/types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a user&#39;s login rate-limit status
     * Admin-only. Returns failed login counters and lockout status for a user.
     * @param id User ID.
     * @return RateLimitResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getUserRateLimit(id: kotlin.String): HttpResponse<RateLimitResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/users/{id}/rate-limit".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Permanently delete a soft-deleted user
     * Admin-only. Removes the user and all associated data from the database. Requires the user to already be soft-deleted.
     * @param id User ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hardDeleteUser(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/admin/users/{id}/permanent".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List all users
     * Admin-only. Returns the full list of (non-soft-deleted) user records.
     * @return kotlin.collections.List<UserResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listAdminUsers(): HttpResponse<kotlin.collections.List<UserResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListAdminUsersResponse>().map { value }
    }

    @Serializable(ListAdminUsersResponse.Companion::class)
    private class ListAdminUsersResponse(val value: List<UserResponse>) {
        companion object : KSerializer<ListAdminUsersResponse> {
            private val serializer: KSerializer<List<UserResponse>> = serializer<List<UserResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListAdminUsersResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListAdminUsersResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List soft-deleted users
     * Admin-only. Returns soft-deleted user records eligible for permanent deletion.
     * @return kotlin.collections.List<DeletedUserResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listDeletedUsers(): HttpResponse<kotlin.collections.List<DeletedUserResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/users/deleted",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListDeletedUsersResponse>().map { value }
    }

    @Serializable(ListDeletedUsersResponse.Companion::class)
    private class ListDeletedUsersResponse(val value: List<DeletedUserResponse>) {
        companion object : KSerializer<ListDeletedUsersResponse> {
            private val serializer: KSerializer<List<DeletedUserResponse>> = serializer<List<DeletedUserResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListDeletedUsersResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListDeletedUsersResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List system events
     * Admin-only. Returns a paginated, filterable list of system events (auth, audit, operational). Supports category, eventType, dismissed, username, ip and since filters.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 50, clamped to 1-200). (optional)
     * @param category Filter by category code. (optional)
     * @param dismissed Set to &#39;true&#39; to include dismissed events. (optional)
     * @param eventType Filter by one or more event types (repeatable). (optional)
     * @param username Case-insensitive username substring filter. (optional)
     * @param ip IP address prefix filter (IPv4/IPv6). (optional)
     * @param since Time window: 1h, 24h/1d, 7d, 30d, all, or an RFC3339 timestamp. Defaults to the last 30 days. (optional)
     * @return SystemEventsListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSystemEvents(page: kotlin.Long? = null, pageSize: kotlin.Long? = null, category: kotlin.String? = null, dismissed: kotlin.String? = null, eventType: kotlin.collections.List<kotlin.String>? = null, username: kotlin.String? = null, ip: kotlin.String? = null, since: kotlin.String? = null): HttpResponse<SystemEventsListResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        category?.apply { localVariableQuery["category"] = listOf("$category") }
        dismissed?.apply { localVariableQuery["dismissed"] = listOf("$dismissed") }
        eventType?.apply { localVariableQuery["eventType"] = toMultiValue(this, "multi") }
        username?.apply { localVariableQuery["username"] = listOf("$username") }
        ip?.apply { localVariableQuery["ip"] = listOf("$ip") }
        since?.apply { localVariableQuery["since"] = listOf("$since") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/system-events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List staged uploads
     * Admin-only. Returns all currently staged ROM uploads, newest first.
     * @return kotlin.collections.List<StagedUploadResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listUploads(): HttpResponse<kotlin.collections.List<StagedUploadResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/uploads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListUploadsResponse>().map { value }
    }

    @Serializable(ListUploadsResponse.Companion::class)
    private class ListUploadsResponse(val value: List<StagedUploadResponse>) {
        companion object : KSerializer<ListUploadsResponse> {
            private val serializer: KSerializer<List<StagedUploadResponse>> = serializer<List<StagedUploadResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListUploadsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListUploadsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Refresh achievement cache
     * Admin-only. Deletes the achievement cache entries for a game so the next request re-fetches from RetroAchievements.
     * @param id Game ID.
     * @return RefreshAchievementsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun refreshAchievements(id: kotlin.String): HttpResponse<RefreshAchievementsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/games/{id}/achievements/refresh".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Reject all staged uploads
     * Admin-only. Deletes every staged ROM from disk and drops the staging records.
     * @return kotlin.collections.Map<kotlin.String, kotlin.Long>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun rejectAllUploads(): HttpResponse<kotlin.collections.Map<kotlin.String, kotlin.Long>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/uploads/reject-all",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RejectAllUploadsResponse>().map { value }
    }

    @Serializable(RejectAllUploadsResponse.Companion::class)
    private class RejectAllUploadsResponse(val value: Map<kotlin.String, kotlin.Long>) {
        companion object : KSerializer<RejectAllUploadsResponse> {
            private val serializer: KSerializer<Map<kotlin.String, kotlin.Long>> = serializer<Map<String, kotlin.Long>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: RejectAllUploadsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = RejectAllUploadsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Reject a staged upload
     * Admin-only. Deletes the staged ROM from disk and drops the staging record.
     * @param id Staged upload ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun rejectUpload(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/uploads/{id}/reject".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Reset a user&#39;s login rate-limit
     * Admin-only. Clears failed-login counters for a user.
     * @param id User ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun resetUserRateLimit(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/admin/users/{id}/rate-limit".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Trigger a library scan
     * Admin-only. Starts a library scan in the background. Returns 202 immediately; progress is reported via WebSocket events.
     * @param console Optional console abbreviation to scan only that console&#39;s games. (optional)
     * @return ScanStartedResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun scanGames(console: kotlin.String? = null): HttpResponse<ScanStartedResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        console?.apply { localVariableQuery["console"] = listOf("$console") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/games/scan",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Scrape all pending staged uploads
     * Admin-only. Runs metadata scraping + duplicate detection on every upload currently in pending_scrape state.
     * @return kotlin.collections.List<StagedUploadResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun scrapeAllUploads(): HttpResponse<kotlin.collections.List<StagedUploadResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/uploads/scrape",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ScrapeAllUploadsResponse>().map { value }
    }

    @Serializable(ScrapeAllUploadsResponse.Companion::class)
    private class ScrapeAllUploadsResponse(val value: List<StagedUploadResponse>) {
        companion object : KSerializer<ScrapeAllUploadsResponse> {
            private val serializer: KSerializer<List<StagedUploadResponse>> = serializer<List<StagedUploadResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ScrapeAllUploadsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ScrapeAllUploadsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Scrape a single game
     * Admin-only. Enqueues a single game for scraping, attaching to the active job if any.
     * @param id Game ID.
     * @return ScrapeGameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun scrapeGame(id: kotlin.String): HttpResponse<ScrapeGameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/games/{id}/scrape".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Scrape metadata for a staged upload
     * Admin-only. Runs metadata scraping + duplicate detection on a staged upload. Requires the console to be set first.
     * @param id Staged upload ID.
     * @return StagedUploadResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun scrapeUpload(id: kotlin.String): HttpResponse<StagedUploadResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/uploads/{id}/scrape".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Search IGDB for candidates for a game
     * Admin-only. Searches IGDB scoped to the game&#39;s platform for possible matches.
     * @param id Game ID.
     * @param q Search query. (optional)
     * @return kotlin.collections.List<IGDBSearchResult>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun searchIGDB(id: kotlin.String, q: kotlin.String? = null): HttpResponse<kotlin.collections.List<IGDBSearchResult>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/games/{id}/igdb-search".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<SearchIGDBResponse>().map { value }
    }

    @Serializable(SearchIGDBResponse.Companion::class)
    private class SearchIGDBResponse(val value: List<IGDBSearchResult>) {
        companion object : KSerializer<SearchIGDBResponse> {
            private val serializer: KSerializer<List<IGDBSearchResult>> = serializer<List<IGDBSearchResult>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: SearchIGDBResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = SearchIGDBResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Switch the active cover art for a game
     * Admin-only. Selects one of the available cover sources and sets it as the active cover on the game record.
     * @param id Game ID.
     * @param setGameCoverRequest 
     * @return GameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun setGameCover(id: kotlin.String, setGameCoverRequest: SetGameCoverRequest): HttpResponse<GameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = setGameCoverRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/admin/games/{id}/covers".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Set the active hero art for a game
     * Admin-only. Downloads the supplied SteamGridDB image locally and stores it as the game&#39;s hero art.
     * @param id Game ID.
     * @param setGameHeroRequest 
     * @return GameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun setGameHero(id: kotlin.String, setGameHeroRequest: SetGameHeroRequest): HttpResponse<GameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = setGameHeroRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/admin/games/{id}/heroes".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Set the console for a staged upload
     * Admin-only. Resolves console ambiguity on a staged upload by explicitly choosing the console abbreviation.
     * @param id Staged upload ID.
     * @param setUploadConsoleRequest 
     * @return StagedUploadResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun setUploadConsole(id: kotlin.String, setUploadConsoleRequest: SetUploadConsoleRequest): HttpResponse<StagedUploadResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = setUploadConsoleRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/uploads/{id}/console".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Test IGDB credentials
     * Admin-only. Validates a clientId/clientSecret pair by attempting a Twitch token exchange.
     * @param testIGDBRequest 
     * @return TestIGDBResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun testIGDB(testIGDBRequest: TestIGDBRequest): HttpResponse<TestIGDBResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = testIGDBRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/igdb/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Trigger BIOS download
     * Admin-only. Starts a background download of missing registry-registered BIOS files.
     * @return BiosDownloadStartedResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun triggerBiosDownload(): HttpResponse<BiosDownloadStartedResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/bios/download",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Import cheat database
     * Admin-only. Runs a synchronous cheat-database import and returns the result.
     * @return ImportResult
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun triggerCheatImport(): HttpResponse<ImportResult> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/cheats/import",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Trigger IGDB metadata enrichment
     * Admin-only. Starts a background IGDB enrichment pass. Mode &#39;missing&#39; (default) enriches games without themes; &#39;all&#39; enriches every IGDB-scraped game.
     * @param mode Enrichment mode: &#39;missing&#39; (default) or &#39;all&#39;. (optional)
     * @return EnrichmentStartedResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun triggerEnrichMetadata(mode: kotlin.String? = null): HttpResponse<EnrichmentStartedResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/enrich-metadata",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Trigger a scrape job
     * Admin-only. Enqueues matching games for scraping. Supports conflict resolution (reject/replace/merge) if another scrape is active.
     * @param mode Scrape mode: &#39;new&#39; (default), &#39;all&#39;, &#39;fallback&#39;, &#39;ra&#39;. (optional)
     * @param force Legacy: &#39;true&#39; is equivalent to mode&#x3D;all. (optional)
     * @param console Optional console abbreviation filter. (optional)
     * @param source Filter by scrape source (igdb, libretro, steamgriddb). (optional)
     * @param status Filter by scrape status (matched, not_found, error, not_attempted). (optional)
     * @param conflict Conflict resolution: &#39;reject&#39; (default), &#39;replace&#39;, &#39;merge&#39;. (optional)
     * @return ScrapeStartedResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun triggerScrape(mode: kotlin.String? = null, force: kotlin.String? = null, console: kotlin.String? = null, source: kotlin.String? = null, status: kotlin.String? = null, conflict: kotlin.String? = null): HttpResponse<ScrapeStartedResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        force?.apply { localVariableQuery["force"] = listOf("$force") }
        console?.apply { localVariableQuery["console"] = listOf("$console") }
        source?.apply { localVariableQuery["source"] = listOf("$source") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        conflict?.apply { localVariableQuery["conflict"] = listOf("$conflict") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/scrape",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update server settings
     * Admin-only. Updates server settings. Only allowlisted keys are accepted. Secret keys whose value is the mask placeholder are skipped.
     * @param requestBody 
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateAdminSettings(requestBody: kotlin.collections.Map<kotlin.String, kotlin.String>): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = UpdateAdminSettingsRequest(requestBody)

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/admin/settings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    @Serializable(UpdateAdminSettingsRequest.Companion::class)
    private class UpdateAdminSettingsRequest(val value: Map<kotlin.String, kotlin.String>) {
        companion object : KSerializer<UpdateAdminSettingsRequest> {
            private val serializer: KSerializer<Map<kotlin.String, kotlin.String>> = serializer<Map<String, kotlin.String>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: UpdateAdminSettingsRequest) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = UpdateAdminSettingsRequest(serializer.deserialize(decoder))
        }
    }

    /**
     * Update game metadata
     * Admin-only. Manually updates metadata fields on a game. Only provided fields are applied.
     * @param id Game ID.
     * @param updateGameMetadataRequest 
     * @return GameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateGameMetadata(id: kotlin.String, updateGameMetadataRequest: UpdateGameMetadataRequest): HttpResponse<GameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateGameMetadataRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/games/{id}/metadata".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Set verification tag
     * Admin-only. Sets a custom verification tag on a game for bookkeeping.
     * @param id Game ID.
     * @param updateVerificationTagRequest 
     * @return UpdateVerificationTagResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateVerificationTag(id: kotlin.String, updateVerificationTagRequest: UpdateVerificationTagRequest): HttpResponse<UpdateVerificationTagResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateVerificationTagRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/admin/games/{id}/verification-tag".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
