/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.AuthLoginRequest
import com.spela.client.models.AuthLoginResponse
import com.spela.client.models.AuthRefreshRequest
import com.spela.client.models.AuthRegisterRequest
import com.spela.client.models.AuthRegisterResponse
import com.spela.client.models.HumaError
import com.spela.client.models.SetupStatusResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AuthApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Sign in
     * Authenticates a user and returns access + refresh tokens. Enforces lockout after repeated failures and performs a dummy bcrypt comparison on unknown usernames to prevent timing-based username enumeration.
     * @param authLoginRequest 
     * @return AuthLoginResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authLogin(authLoginRequest: AuthLoginRequest): HttpResponse<AuthLoginResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = authLoginRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/auth/login",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Rotate refresh token
     * Exchanges a refresh token for new access + refresh tokens. Uses token families for replay detection: presenting a consumed token revokes the entire family.
     * @param authRefreshRequest 
     * @return AuthLoginResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authRefresh(authRefreshRequest: AuthRefreshRequest): HttpResponse<AuthLoginResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = authRefreshRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/auth/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Register a new account
     * Creates a new user account. The very first user becomes the server owner and is signed in immediately. Subsequent registrations are pending admin approval (HTTP 202) unless registration has been disabled.
     * @param authRegisterRequest 
     * @return AuthRegisterResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authRegister(authRegisterRequest: AuthRegisterRequest): HttpResponse<AuthRegisterResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = authRegisterRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/auth/register",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Perform first-time server setup
     * Creates the initial owner account. Fails with 403 after a user already exists.
     * @param authRegisterRequest 
     * @return AuthLoginResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authSetup(authRegisterRequest: AuthRegisterRequest): HttpResponse<AuthLoginResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = authRegisterRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/auth/setup",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get server setup status
     * Returns whether the server needs first-time setup, whether new-account registration is enabled, and how many games are indexed.
     * @return SetupStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authSetupStatus(): HttpResponse<SetupStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/auth/setup-status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
