/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.AvailableGamesOutputBody
import com.spela.client.models.CatalogConsolesOutputBody
import com.spela.client.models.HumaError
import com.spela.client.models.ListImportsOutputBody
import com.spela.client.models.StartImportInputBody
import com.spela.client.models.StartImportOutputBody

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class CatalogApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Games available across the friend mesh, hop-bounded
     * 
     * @param maxHops  (optional)
     * @param remoteOnly  (optional)
     * @param q  (optional)
     * @param key  (optional)
     * @param console  (optional)
     * @return AvailableGamesOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationAvailableGames(maxHops: kotlin.Long? = null, remoteOnly: kotlin.Boolean? = null, q: kotlin.String? = null, key: kotlin.String? = null, console: kotlin.String? = null): HttpResponse<AvailableGamesOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        maxHops?.apply { localVariableQuery["maxHops"] = listOf("$maxHops") }
        remoteOnly?.apply { localVariableQuery["remoteOnly"] = listOf("$remoteOnly") }
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        key?.apply { localVariableQuery["key"] = listOf("$key") }
        console?.apply { localVariableQuery["console"] = listOf("$console") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/federation/catalog/available",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Per-console game counts across the connected-server mesh
     * 
     * @param maxHops  (optional)
     * @param remoteOnly  (optional)
     * @return CatalogConsolesOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationCatalogConsoles(maxHops: kotlin.Long? = null, remoteOnly: kotlin.Boolean? = null): HttpResponse<CatalogConsolesOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        maxHops?.apply { localVariableQuery["maxHops"] = listOf("$maxHops") }
        remoteOnly?.apply { localVariableQuery["remoteOnly"] = listOf("$remoteOnly") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/federation/catalog/consoles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List game imports with status and progress
     * 
     * @param limit  (optional)
     * @return ListImportsOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationListImports(limit: kotlin.Long? = null): HttpResponse<ListImportsOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/federation/imports",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Import a connected-server game into the local library
     * 
     * @param startImportInputBody 
     * @return StartImportOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationStartImport(startImportInputBody: StartImportInputBody): HttpResponse<StartImportOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = startImportInputBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/federation/import",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
