/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.ChallengeAttemptResponse
import com.spela.client.models.ChallengeResponse
import com.spela.client.models.HumaError
import com.spela.client.models.MessageResponse
import com.spela.client.models.PaginatedResponseChallengeLeaderboardEntry
import com.spela.client.models.PaginatedResponseChallengeResponse
import com.spela.client.models.UpdateChallengeRequest

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ChallengesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Abandon a challenge attempt
     * Marks the specified in-progress attempt as abandoned.
     * @param id Challenge ID.
     * @param aid Attempt ID.
     * @return ChallengeAttemptResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun abandonChallengeAttempt(id: kotlin.String, aid: kotlin.String): HttpResponse<ChallengeAttemptResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/challenges/{id}/attempts/{aid}/abandon".replace("{" + "id" + "}", "$id").replace("{" + "aid" + "}", "$aid"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Complete a challenge attempt
     * Marks the attempt as completed and updates best-attempt / leaderboard state. Emits challenge_completed and optionally challenge_record activity events.
     * @param id Challenge ID.
     * @param aid Attempt ID.
     * @return ChallengeAttemptResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun completeChallengeAttempt(id: kotlin.String, aid: kotlin.String): HttpResponse<ChallengeAttemptResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/challenges/{id}/attempts/{aid}/complete".replace("{" + "id" + "}", "$id").replace("{" + "aid" + "}", "$aid"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a challenge
     * Deletes a challenge and all its attempts and stored save/screenshot files. Allowed for the creator or an admin/owner.
     * @param id Challenge ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteChallenge(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/challenges/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Download a challenge&#39;s starting save state
     * Returns the save file that seeds the challenge run. Responds with application/octet-stream.
     * @param id Challenge ID.
     * @return void
     */
    open suspend fun downloadChallengeSave(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/challenges/{id}/save/download".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a challenge by ID
     * Returns a single challenge including creator, game and console metadata. Expired challenges are lazily closed on read.
     * @param id Challenge ID.
     * @return ChallengeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getChallenge(id: kotlin.String): HttpResponse<ChallengeResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/challenges/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get the leaderboard for a challenge
     * Returns the best attempts across users, ranked fastest-first (or longest-first for survival). Paginated.
     * @param id Challenge ID.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 50, clamped to 1-100). (optional)
     * @return PaginatedResponseChallengeLeaderboardEntry
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getChallengeLeaderboard(id: kotlin.String, page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseChallengeLeaderboardEntry> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/challenges/{id}/leaderboard".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a challenge&#39;s screenshot
     * Returns the screenshot image that illustrates the challenge state.
     * @param id Challenge ID.
     * @return void
     */
    open suspend fun getChallengeScreenshot(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/challenges/{id}/screenshot".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List challenges
     * Paginated list of challenges with gameId/consoleId/difficulty/type/status/creatorId filters and newest/popular/oldest sort.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-100). (optional)
     * @param gameId Filter by game ID. (optional)
     * @param consoleId Filter by console ID (JOINs on games). (optional)
     * @param difficulty Filter by difficulty (easy/medium/hard). (optional)
     * @param type Filter by type (completion/speedrun/survival). (optional)
     * @param status Filter by status (active/closed/expired). Defaults to active. (optional)
     * @param creatorId Filter by creator user ID. (optional)
     * @param sort Sort order (newest/popular/oldest). (optional)
     * @return PaginatedResponseChallengeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listChallenges(page: kotlin.Long? = null, pageSize: kotlin.Long? = null, gameId: kotlin.String? = null, consoleId: kotlin.String? = null, difficulty: kotlin.String? = null, type: kotlin.String? = null, status: kotlin.String? = null, creatorId: kotlin.String? = null, sort: kotlin.String? = null): HttpResponse<PaginatedResponseChallengeResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        gameId?.apply { localVariableQuery["gameId"] = listOf("$gameId") }
        consoleId?.apply { localVariableQuery["consoleId"] = listOf("$consoleId") }
        difficulty?.apply { localVariableQuery["difficulty"] = listOf("$difficulty") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        creatorId?.apply { localVariableQuery["creatorId"] = listOf("$creatorId") }
        sort?.apply { localVariableQuery["sort"] = listOf("$sort") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/challenges",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List challenges for a game
     * Paginated list of active challenges for the specified game, newest first.
     * @param id Game ID.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-100). (optional)
     * @return PaginatedResponseChallengeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listGameChallenges(id: kotlin.String, page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseChallengeResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/challenges".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the caller&#39;s attempts for a challenge
     * Returns the caller&#39;s attempts (any status) for the specified challenge, newest first.
     * @param id Challenge ID.
     * @return kotlin.collections.List<ChallengeAttemptResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listMyChallengeAttempts(id: kotlin.String): HttpResponse<kotlin.collections.List<ChallengeAttemptResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/challenges/{id}/attempts/mine".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListMyChallengeAttemptsResponse>().map { value }
    }

    @Serializable(ListMyChallengeAttemptsResponse.Companion::class)
    private class ListMyChallengeAttemptsResponse(val value: List<ChallengeAttemptResponse>) {
        companion object : KSerializer<ListMyChallengeAttemptsResponse> {
            private val serializer: KSerializer<List<ChallengeAttemptResponse>> = serializer<List<ChallengeAttemptResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListMyChallengeAttemptsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListMyChallengeAttemptsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List challenges created by the caller
     * Paginated list of challenges authored by the caller, newest first.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-100). (optional)
     * @return PaginatedResponseChallengeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listMyChallenges(page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseChallengeResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/user/challenges",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Start a challenge attempt
     * Creates a new in-progress attempt for the caller. Any existing in-progress attempt for the same user/challenge is abandoned. Rate-limited per-user/per-challenge.
     * @param id Challenge ID.
     * @return ChallengeAttemptResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun startChallengeAttempt(id: kotlin.String): HttpResponse<ChallengeAttemptResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/challenges/{id}/attempts/start".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a challenge
     * Updates name/description/status on a challenge. Allowed for the creator or an admin/owner.
     * @param id Challenge ID.
     * @param updateChallengeRequest 
     * @return ChallengeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateChallenge(id: kotlin.String, updateChallengeRequest: UpdateChallengeRequest): HttpResponse<ChallengeResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateChallengeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/challenges/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
