/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.spela.client.apis

import com.spela.client.models.AddGameToCollectionRequest
import com.spela.client.models.CollectionDetailResponse
import com.spela.client.models.CollectionResponse
import com.spela.client.models.CreateCollectionRequest
import com.spela.client.models.HumaError
import com.spela.client.models.MessageResponse
import com.spela.client.models.PaginatedResponseCollectionResponse
import com.spela.client.models.UpdateCollectionRequest

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class CollectionsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Add a game to a collection
     * Owner-only. Appends the game to the end of the collection (unique per collection).
     * @param id Collection ID.
     * @param addGameToCollectionRequest 
     * @return CollectionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addGameToCollection(id: kotlin.String, addGameToCollectionRequest: AddGameToCollectionRequest): HttpResponse<CollectionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = addGameToCollectionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/collections/{id}/games".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create a collection
     * Creates a new game collection owned by the caller.
     * @param createCollectionRequest 
     * @return CollectionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createCollection(createCollectionRequest: CreateCollectionRequest): HttpResponse<CollectionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createCollectionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/collections",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete a collection
     * Owner-only. Removes the collection and its items.
     * @param id Collection ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteCollection(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/collections/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a collection with its games
     * Returns the collection detail and the full ordered game list. Only the owner can see private collections.
     * @param id Collection ID.
     * @return CollectionDetailResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCollection(id: kotlin.String): HttpResponse<CollectionDetailResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/collections/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the caller&#39;s collections
     * Paginated list of the caller&#39;s collections, newest first. Supports optional name substring search.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-100). (optional)
     * @param search Optional substring match on collection name. (optional)
     * @return PaginatedResponseCollectionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listMyCollections(page: kotlin.Long? = null, pageSize: kotlin.Long? = null, search: kotlin.String? = null): HttpResponse<PaginatedResponseCollectionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/collections",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List all public collections
     * Paginated list of public collections across all users, newest first.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-100). (optional)
     * @param search Optional substring match on collection name. (optional)
     * @return PaginatedResponseCollectionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listPublicCollections(page: kotlin.Long? = null, pageSize: kotlin.Long? = null, search: kotlin.String? = null): HttpResponse<PaginatedResponseCollectionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/collections/public",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Remove a game from a collection
     * Owner-only. Removes the specified game from the collection.
     * @param id Collection ID.
     * @param gameId Game ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun removeGameFromCollection(id: kotlin.String, gameId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/collections/{id}/games/{gameId}".replace("{" + "id" + "}", "$id").replace("{" + "gameId" + "}", "$gameId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a collection
     * Owner-only. Partial update of name, description or visibility.
     * @param id Collection ID.
     * @param updateCollectionRequest 
     * @return CollectionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateCollection(id: kotlin.String, updateCollectionRequest: UpdateCollectionRequest): HttpResponse<CollectionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateCollectionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/collections/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
