/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.ConsoleResponse
import com.spela.client.models.HumaError
import com.spela.client.models.PaginatedResponseGameResponse
import com.spela.client.models.TopRatedGameResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ConsolesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get a console icon (PNG)
     * Serves an embedded PNG icon for the console. Public endpoint; cached aggressively.
     * @param id Console abbreviation or code.
     * @return void
     */
    open suspend fun getConsoleIcon(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/consoles/{id}/icon".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a console logo (SVG)
     * Serves an embedded SVG logo for the console with inlined class→attribute styling so renderers without CSS support (e.g. Coil on JVM) display colors correctly.
     * @param id Console abbreviation or code.
     * @return void
     */
    open suspend fun getConsoleLogo(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/consoles/{id}/logo".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a console logo (pre-rendered PNG)
     * Serves a pre-rendered PNG version of the console logo, for clients that can&#39;t or don&#39;t want to rasterize SVG at runtime.
     * @param id Console abbreviation or code.
     * @return void
     */
    open suspend fun getConsoleLogoPng(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/consoles/{id}/logo.png".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a console hardware photo
     * Serves an embedded hardware photo (PNG/JPEG) for the console. Public endpoint; cached aggressively. 404 when no photo is bundled.
     * @param id Console abbreviation or code.
     * @return void
     */
    open suspend fun getConsolePhoto(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/consoles/{id}/photo".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a representative screenshot for a console
     * Returns a canonical screenshot from the LibRetro thumbnails CDN, cached locally after the first download. Redirects to /api/images/previews/{abbr}/preview.png when cached.
     * @param id Console abbreviation or code.
     * @return void
     */
    open suspend fun getConsolePreviewScreenshot(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/consoles/{id}/preview-screenshot".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Top-rated games for a console
     * Returns the cached top-rated IGDB games for the specified console. Refreshed from IGDB when cached data is older than 7 days.
     * @param id Console abbreviation (e.g. &#39;snes&#39;) or code.
     * @return kotlin.collections.List<TopRatedGameResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getConsoleTopRated(id: kotlin.String): HttpResponse<kotlin.collections.List<TopRatedGameResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/consoles/{id}/top-rated".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetConsoleTopRatedResponse>().map { value }
    }

    @Serializable(GetConsoleTopRatedResponse.Companion::class)
    private class GetConsoleTopRatedResponse(val value: List<TopRatedGameResponse>) {
        companion object : KSerializer<GetConsoleTopRatedResponse> {
            private val serializer: KSerializer<List<TopRatedGameResponse>> = serializer<List<TopRatedGameResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetConsoleTopRatedResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetConsoleTopRatedResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Top-rated games (global)
     * Returns the top 20 top-rated IGDB games across all consoles, deduplicated by IGDB game ID, preferring entries whose console has a local library match.
     * @return kotlin.collections.List<TopRatedGameResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getTopRatedGlobal(): HttpResponse<kotlin.collections.List<TopRatedGameResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/top-rated",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetTopRatedGlobalResponse>().map { value }
    }

    @Serializable(GetTopRatedGlobalResponse.Companion::class)
    private class GetTopRatedGlobalResponse(val value: List<TopRatedGameResponse>) {
        companion object : KSerializer<GetTopRatedGlobalResponse> {
            private val serializer: KSerializer<List<TopRatedGameResponse>> = serializer<List<TopRatedGameResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetTopRatedGlobalResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetTopRatedGlobalResponse(serializer.deserialize(decoder))
        }
    }


    /**
     * enum for parameter sortBy
     */
    @Serializable
    enum class SortByListConsoleGames(val value: kotlin.String) {
        
        @SerialName(value = "title")
        title("title"),
        
        @SerialName(value = "created_at")
        created_at("created_at"),
        
        @SerialName(value = "file_size")
        file_size("file_size"),
        
        @SerialName(value = "rating")
        rating("rating")
        
    }


    /**
     * enum for parameter sortOrder
     */
    @Serializable
    enum class SortOrderListConsoleGames(val value: kotlin.String) {
        
        @SerialName(value = "asc")
        asc("asc"),
        
        @SerialName(value = "desc")
        desc("desc")
        
    }


    /**
     * enum for parameter grouped
     */
    @Serializable
    enum class GroupedListConsoleGames(val value: kotlin.String) {
        
        @SerialName(value = "true")
        `true`("true"),
        
        @SerialName(value = "false")
        `false`("false")
        
    }


    /**
     * enum for parameter hidePreRelease
     */
    @Serializable
    enum class HidePreReleaseListConsoleGames(val value: kotlin.String) {
        
        @SerialName(value = "true")
        `true`("true"),
        
        @SerialName(value = "false")
        `false`("false")
        
    }

    /**
     * List games for a console
     * Returns a paginated list of games for the specified console. Supports search, letter, region, sort, grouped (primary-variants-only) and hidePreRelease filters.
     * @param id Console abbreviation (e.g. &#39;snes&#39;) or code.
     * @param page 1-based page number. (optional, default to 1L)
     * @param pageSize Page size. (optional, default to 50L)
     * @param sortBy Sort column. (optional, default to title)
     * @param sortOrder Sort direction. (optional, default to asc)
     * @param search Substring match on title. (optional)
     * @param letter Alphabet quick-jump filter (&#39;A&#39;-&#39;Z&#39; or &#39;#&#39; for non-alpha). (optional)
     * @param region Region filter (comma-separated for multi-select). (optional)
     * @param grouped Show only primary variants. (optional, default to true)
     * @param hidePreRelease Hide betas/protos/samples. (optional, default to true)
     * @return PaginatedResponseGameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listConsoleGames(id: kotlin.String, page: kotlin.Long? = 1L, pageSize: kotlin.Long? = 50L, sortBy: SortByListConsoleGames? = SortByListConsoleGames.title, sortOrder: SortOrderListConsoleGames? = SortOrderListConsoleGames.asc, search: kotlin.String? = null, letter: kotlin.String? = null, region: kotlin.String? = null, grouped: GroupedListConsoleGames? = GroupedListConsoleGames.`true`, hidePreRelease: HidePreReleaseListConsoleGames? = HidePreReleaseListConsoleGames.`true`): HttpResponse<PaginatedResponseGameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        sortBy?.apply { localVariableQuery["sortBy"] = listOf("${ sortBy.value }") }
        sortOrder?.apply { localVariableQuery["sortOrder"] = listOf("${ sortOrder.value }") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        letter?.apply { localVariableQuery["letter"] = listOf("$letter") }
        region?.apply { localVariableQuery["region"] = listOf("$region") }
        grouped?.apply { localVariableQuery["grouped"] = listOf("${ grouped.value }") }
        hidePreRelease?.apply { localVariableQuery["hidePreRelease"] = listOf("${ hidePreRelease.value }") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/consoles/{id}/games".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List consoles
     * Returns all consoles that have at least one primary, non-pre-release game, sorted by generation and name.
     * @return kotlin.collections.List<ConsoleResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listConsoles(): HttpResponse<kotlin.collections.List<ConsoleResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/consoles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListConsolesResponse>().map { value }
    }

    @Serializable(ListConsolesResponse.Companion::class)
    private class ListConsolesResponse(val value: List<ConsoleResponse>) {
        companion object : KSerializer<ListConsolesResponse> {
            private val serializer: KSerializer<List<ConsoleResponse>> = serializer<List<ConsoleResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListConsolesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListConsolesResponse(serializer.deserialize(decoder))
        }
    }

}
