/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.Core
import com.spela.client.models.CoreManifestResponse
import com.spela.client.models.HumaError
import com.spela.client.models.RefreshCoreResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class CoresApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Download a core binary
     * Serves the core binary for the requested platform (defaults to linux). Responds with application/octet-stream.
     * @param id Core ID.
     * @param platform Target platform: linux, macos, windows, android. (optional, default to "linux")
     * @param sha256 Optional hex sha256 of a historical core binary. When set, serves that specific version from the history snapshot; returns 404 if it&#39;s been pruned. Defaults to serving the current binary. (optional)
     * @return void
     */
    open suspend fun downloadCore(id: kotlin.String, platform: kotlin.String? = "linux", sha256: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        platform?.apply { localVariableQuery["platform"] = listOf("$platform") }
        sha256?.apply { localVariableQuery["sha256"] = listOf("$sha256") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/cores/{id}/download".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get fingerprint for a core binary
     * Returns sha256 + size + fetched-at for the server&#39;s current cached binary of a core. Players use this to decide whether their locally cached copy is stale without re-downloading the binary itself.
     * @param id Core row ID (not core name).
     * @return CoreManifestResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCoreManifest(id: kotlin.String): HttpResponse<CoreManifestResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/cores/{id}/manifest".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List libretro cores
     * Returns all libretro cores known to the server, including display name, supported platforms, and download URL (where applicable).
     * @return kotlin.collections.List<Core>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listCores(): HttpResponse<kotlin.collections.List<Core>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/cores",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListCoresResponse>().map { value }
    }

    @Serializable(ListCoresResponse.Companion::class)
    private class ListCoresResponse(val value: List<Core>) {
        companion object : KSerializer<ListCoresResponse> {
            private val serializer: KSerializer<List<Core>> = serializer<List<Core>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListCoresResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListCoresResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Re-fingerprint a core binary (admin)
     * Admin-only. Re-hashes the on-disk core binary, updates the DB metadata, snapshots the new binary into the history directory, and emits a core_updated system event when the sha256 actually changed. Use after manually swapping a core binary on disk so stored fingerprints don&#39;t go stale. Returns 404 when the binary isn&#39;t on disk for the requested platform.
     * @param id Core row ID (not core name).
     * @param platform Platform whose on-disk binary to re-hash (linux|macos|windows|android). Defaults to linux — the default server host platform. (optional)
     * @return RefreshCoreResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun refreshCore(id: kotlin.String, platform: kotlin.String? = null): HttpResponse<RefreshCoreResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        platform?.apply { localVariableQuery["platform"] = listOf("$platform") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/cores/{id}/refresh".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
