/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.spela.client.apis

import com.spela.client.models.Core
import com.spela.client.models.HumaError

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class CoresApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Download a core binary
     * Serves the core binary for the requested platform (defaults to linux). Responds with application/octet-stream.
     * @param id Core ID.
     * @param platform Target platform: linux, macos, windows, android. (optional, default to "linux")
     * @return void
     */
    open suspend fun downloadCore(id: kotlin.String, platform: kotlin.String? = "linux"): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        platform?.apply { localVariableQuery["platform"] = listOf("$platform") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/cores/{id}/download".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List libretro cores
     * Returns all libretro cores known to the server, including display name, supported platforms, and download URL (where applicable).
     * @return kotlin.collections.List<Core>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listCores(): HttpResponse<kotlin.collections.List<Core>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/cores",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListCoresResponse>().map { value }
    }

    @Serializable(ListCoresResponse.Companion::class)
    private class ListCoresResponse(val value: List<Core>) {
        companion object : KSerializer<ListCoresResponse> {
            private val serializer: KSerializer<List<Core>> = serializer<List<Core>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListCoresResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListCoresResponse(serializer.deserialize(decoder))
        }
    }

}
