/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.spela.client.apis

import com.spela.client.models.EnrichmentStartedResponse
import com.spela.client.models.EnrichmentStatusResponse
import com.spela.client.models.FranchiseDetailResponse
import com.spela.client.models.FranchiseResponse
import com.spela.client.models.GameFranchiseResponse
import com.spela.client.models.GameSeriesResponse
import com.spela.client.models.HumaError
import com.spela.client.models.KeywordResponse
import com.spela.client.models.PaginatedResponseGameResponse
import com.spela.client.models.SeriesDetailResponse
import com.spela.client.models.SeriesListResponse
import com.spela.client.models.ThemeResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class EnrichmentApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get enrichment status
     * Admin-only. Returns whether an enrichment pass is active and its current progress.
     * @return EnrichmentStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getEnrichMetadataStatus(): HttpResponse<EnrichmentStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/enrich-metadata/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get franchise detail
     * Returns a franchise with all its games (local and non-local). Falls back to lookup by IGDB franchise ID.
     * @param id Franchise group ID, or IGDB franchise ID as fallback.
     * @return FranchiseDetailResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getFranchiseDetail(id: kotlin.String): HttpResponse<FranchiseDetailResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/franchises/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get franchises a game belongs to
     * Returns the franchises that the specified game belongs to with total/library game counts.
     * @param id Game ID.
     * @return kotlin.collections.List<GameFranchiseResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getGameFranchises(id: kotlin.String): HttpResponse<kotlin.collections.List<GameFranchiseResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/franchises".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetGameFranchisesResponse>().map { value }
    }

    @Serializable(GetGameFranchisesResponse.Companion::class)
    private class GetGameFranchisesResponse(val value: List<GameFranchiseResponse>) {
        companion object : KSerializer<GetGameFranchisesResponse> {
            private val serializer: KSerializer<List<GameFranchiseResponse>> = serializer<List<GameFranchiseResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetGameFranchisesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetGameFranchisesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get series a game belongs to
     * Returns the series (with library and total game counts) that the specified game belongs to.
     * @param id Game ID.
     * @return kotlin.collections.List<GameSeriesResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getGameSeries(id: kotlin.String): HttpResponse<kotlin.collections.List<GameSeriesResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/series".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetGameSeriesResponse>().map { value }
    }

    @Serializable(GetGameSeriesResponse.Companion::class)
    private class GetGameSeriesResponse(val value: List<GameSeriesResponse>) {
        companion object : KSerializer<GetGameSeriesResponse> {
            private val serializer: KSerializer<List<GameSeriesResponse>> = serializer<List<GameSeriesResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetGameSeriesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetGameSeriesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get series detail
     * Returns a series with all its games (local and non-local).
     * @param id Series ID.
     * @return SeriesDetailResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSeriesDetail(id: kotlin.String): HttpResponse<SeriesDetailResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/series/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List games for a franchise
     * Returns paginated games in a franchise (by IGDB franchise ID).
     * @param id IGDB franchise ID.
     * @param page 1-based page number. (optional)
     * @param pageSize Page size. (optional)
     * @return PaginatedResponseGameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listFranchiseGames(id: kotlin.String, page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseGameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/franchises/{id}/games".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List franchises
     * Returns all franchises with at least one game in the library.
     * @return kotlin.collections.List<FranchiseResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listFranchises(): HttpResponse<kotlin.collections.List<FranchiseResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/franchises",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListFranchisesResponse>().map { value }
    }

    @Serializable(ListFranchisesResponse.Companion::class)
    private class ListFranchisesResponse(val value: List<FranchiseResponse>) {
        companion object : KSerializer<ListFranchisesResponse> {
            private val serializer: KSerializer<List<FranchiseResponse>> = serializer<List<FranchiseResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListFranchisesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListFranchisesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List games for a keyword
     * Returns paginated games tagged with the specified IGDB keyword.
     * @param id IGDB keyword ID.
     * @param page 1-based page number. (optional)
     * @param pageSize Page size. (optional)
     * @return PaginatedResponseGameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listKeywordGames(id: kotlin.String, page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseGameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/keywords/{id}/games".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List top keywords
     * Returns the top N keywords by game count (default 50, max 200).
     * @param limit Maximum number of keywords (defaults to 50, clamped to 1-200). (optional)
     * @return kotlin.collections.List<KeywordResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listKeywords(limit: kotlin.Long? = null): HttpResponse<kotlin.collections.List<KeywordResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/keywords",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListKeywordsResponse>().map { value }
    }

    @Serializable(ListKeywordsResponse.Companion::class)
    private class ListKeywordsResponse(val value: List<KeywordResponse>) {
        companion object : KSerializer<ListKeywordsResponse> {
            private val serializer: KSerializer<List<KeywordResponse>> = serializer<List<KeywordResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListKeywordsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListKeywordsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List game series
     * Returns series with at least one local game, sorted by library game count.
     * @return kotlin.collections.List<SeriesListResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSeries(): HttpResponse<kotlin.collections.List<SeriesListResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/series",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListSeriesResponse>().map { value }
    }

    @Serializable(ListSeriesResponse.Companion::class)
    private class ListSeriesResponse(val value: List<SeriesListResponse>) {
        companion object : KSerializer<ListSeriesResponse> {
            private val serializer: KSerializer<List<SeriesListResponse>> = serializer<List<SeriesListResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListSeriesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListSeriesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List games for a theme
     * Returns paginated games tagged with the specified IGDB theme, sorted by rating descending.
     * @param id IGDB theme ID.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-100). (optional)
     * @return PaginatedResponseGameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listThemeGames(id: kotlin.String, page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseGameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/themes/{id}/games".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List IGDB themes
     * Returns all themes with at least one game in the library, sorted by game count descending.
     * @return kotlin.collections.List<ThemeResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listThemes(): HttpResponse<kotlin.collections.List<ThemeResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/themes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListThemesResponse>().map { value }
    }

    @Serializable(ListThemesResponse.Companion::class)
    private class ListThemesResponse(val value: List<ThemeResponse>) {
        companion object : KSerializer<ListThemesResponse> {
            private val serializer: KSerializer<List<ThemeResponse>> = serializer<List<ThemeResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListThemesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListThemesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Trigger IGDB metadata enrichment
     * Admin-only. Starts a background IGDB enrichment pass. Mode &#39;missing&#39; (default) enriches games without themes; &#39;all&#39; enriches every IGDB-scraped game.
     * @param mode Enrichment mode: &#39;missing&#39; (default) or &#39;all&#39;. (optional)
     * @return EnrichmentStartedResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun triggerEnrichMetadata(mode: kotlin.String? = null): HttpResponse<EnrichmentStartedResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/enrich-metadata",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
