/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.ActiveChallengesResponse
import com.spela.client.models.ActiveNowResponse
import com.spela.client.models.AlmostDoneResponse
import com.spela.client.models.AnniversariesResponse
import com.spela.client.models.ArtworkGalleryResponse
import com.spela.client.models.BestOfYearResponse
import com.spela.client.models.CommunityTopResponse
import com.spela.client.models.ConsoleHighlightsResponse
import com.spela.client.models.ConsoleShowcaseResponse
import com.spela.client.models.CoverGalleryResponse
import com.spela.client.models.CultClassicsResponse
import com.spela.client.models.DecadesResponse
import com.spela.client.models.DeveloperDetailResponse
import com.spela.client.models.DeveloperListResponse
import com.spela.client.models.DeveloperSpotlightResponse
import com.spela.client.models.EasyToCompleteResponse
import com.spela.client.models.ExploreRowsResponse
import com.spela.client.models.FeaturedGameResponse
import com.spela.client.models.FeaturedSeriesResponse
import com.spela.client.models.ForYouResponse
import com.spela.client.models.FreshChallengesResponse
import com.spela.client.models.GameResponse
import com.spela.client.models.HardestGamesResponse
import com.spela.client.models.HumaError
import com.spela.client.models.MoodResponse
import com.spela.client.models.OnThisDayResponse
import com.spela.client.models.PlayersLikeYouResponse
import com.spela.client.models.PublisherDetailResponse
import com.spela.client.models.RecentlyReviewedResponse
import com.spela.client.models.ScreenshotGalleryResponse
import com.spela.client.models.TrendingResponse
import com.spela.client.models.WizardResponse
import com.spela.client.models.WizardResultsResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ExploreApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get active community challenges
     * Returns the 10 most recent active Challenge entities that have not yet expired.
     * @return ActiveChallengesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getActiveChallenges(): HttpResponse<ActiveChallengesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/active-challenges",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get games with active shared sessions or challenges
     * Returns up to 20 games currently with active shared sessions and/or active challenges, sorted by combined activity.
     * @return ActiveNowResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getActiveNow(): HttpResponse<ActiveNowResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/active-now",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get games the caller has nearly completed
     * Returns games where the caller has completed between 80 and 99 percent of achievements.
     * @return AlmostDoneResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAlmostDone(): HttpResponse<AlmostDoneResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/almost-done",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get paginated IGDB artwork gallery
     * Returns a paginated stream of IGDB promotional artwork with game metadata.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param limit Page size (defaults to 40, max 100). (optional)
     * @return ArtworkGalleryResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getArtworkGallery(page: kotlin.Long? = null, limit: kotlin.Long? = null): HttpResponse<ArtworkGalleryResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/artwork",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get top-rated games from a specific release year
     * Returns up to 30 highest-rated games released in the given year.
     * @param year Release year (1970-2100).
     * @return BestOfYearResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getBestOfYear(year: kotlin.String): HttpResponse<BestOfYearResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/best-of-year/{year}".replace("{" + "year" + "}", "$year"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get top-rated games by the community
     * Returns games with the highest average user ratings on this server (at least 2 ratings).
     * @return CommunityTopResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCommunityTop(): HttpResponse<CommunityTopResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/community-top",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get console highlights
     * Returns a compact list of consoles with game counts and top game for the explore page quick-jump row.
     * @return ConsoleHighlightsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getConsoleHighlights(): HttpResponse<ConsoleHighlightsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/console-highlights",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get console showcase
     * Returns aggregated showcase data for a specific console: essentials, hidden gems, genre breakdown, top developers, recently played, recently added.
     * @param id Console abbreviation (e.g. &#39;snes&#39;).
     * @return ConsoleShowcaseResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getConsoleShowcase(id: kotlin.String): HttpResponse<ConsoleShowcaseResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/consoles/{id}/showcase".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get paginated cover gallery
     * Returns a paginated dense cover art feed with minimal metadata. Supports console filter.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param limit Page size (defaults to 60, max 200). (optional)
     * @param console Console abbreviation filter. (optional)
     * @return CoverGalleryResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCoverGallery(page: kotlin.Long? = null, limit: kotlin.Long? = null, console: kotlin.String? = null): HttpResponse<CoverGalleryResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        console?.apply { localVariableQuery["console"] = listOf("$console") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/covers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get community cult classics
     * Returns games where the community rates higher than critics — avg community rating &gt;&#x3D; 4.0 with IGDB rating &lt; 75.
     * @return CultClassicsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCultClassics(): HttpResponse<CultClassicsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/cult-classics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get best games of a decade
     * Returns up to 30 highest-rated games for the given decade (80s, 90s, or 00s).
     * @param decade Decade identifier: &#39;80s&#39;, &#39;90s&#39;, or &#39;00s&#39;.
     * @return DecadesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDecades(decade: kotlin.String): HttpResponse<DecadesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/decades/{decade}".replace("{" + "decade" + "}", "$decade"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get developer detail
     * Returns all games by a specific developer along with statistics (rating distribution, genre/platform breakdown, user stats, timeline, related developers).
     * @param name Developer name (URL-decoded).
     * @return DeveloperDetailResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDeveloperDetail(name: kotlin.String): HttpResponse<DeveloperDetailResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/developers/{name}".replace("{" + "name" + "}", "$name"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get the weekly featured developer
     * Returns a rotating spotlight of a top developer with games that have hero art. Rotates weekly.
     * @return DeveloperSpotlightResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDeveloperSpotlight(): HttpResponse<DeveloperSpotlightResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/developers/spotlight",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List top developers
     * Returns the top 50 developers by game count with average rating and console coverage.
     * @return DeveloperListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDevelopers(): HttpResponse<DeveloperListResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/developers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get games with highest avg achievement completion
     * Returns up to 20 games with the highest average achievement completion rate across players.
     * @return EasyToCompleteResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getEasyToComplete(): HttpResponse<EasyToCompleteResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/easy-to-complete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get featured games for the explore hero carousel
     * Returns up to 10 featured games selected via weighted random sampling, stable per-day.
     * @return kotlin.collections.List<FeaturedGameResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getExploreFeatured(): HttpResponse<kotlin.collections.List<FeaturedGameResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/featured",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetExploreFeaturedResponse>().map { value }
    }

    @Serializable(GetExploreFeaturedResponse.Companion::class)
    private class GetExploreFeaturedResponse(val value: List<FeaturedGameResponse>) {
        companion object : KSerializer<GetExploreFeaturedResponse> {
            private val serializer: KSerializer<List<FeaturedGameResponse>> = serializer<List<FeaturedGameResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetExploreFeaturedResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetExploreFeaturedResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get featured game series
     * Returns up to 20 top series with at least 2 library games, sorted by library game count DESC.
     * @return kotlin.collections.List<FeaturedSeriesResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getExploreFeaturedSeries(): HttpResponse<kotlin.collections.List<FeaturedSeriesResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/series/featured",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetExploreFeaturedSeriesResponse>().map { value }
    }

    @Serializable(GetExploreFeaturedSeriesResponse.Companion::class)
    private class GetExploreFeaturedSeriesResponse(val value: List<FeaturedSeriesResponse>) {
        companion object : KSerializer<GetExploreFeaturedSeriesResponse> {
            private val serializer: KSerializer<List<FeaturedSeriesResponse>> = serializer<List<FeaturedSeriesResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetExploreFeaturedSeriesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetExploreFeaturedSeriesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List explore mood options
     * Returns the static list of moods available in the mood picker.
     * @return kotlin.collections.List<MoodResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getExploreMoods(): HttpResponse<kotlin.collections.List<MoodResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/moods",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetExploreMoodsResponse>().map { value }
    }

    @Serializable(GetExploreMoodsResponse.Companion::class)
    private class GetExploreMoodsResponse(val value: List<MoodResponse>) {
        companion object : KSerializer<GetExploreMoodsResponse> {
            private val serializer: KSerializer<List<MoodResponse>> = serializer<List<MoodResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetExploreMoodsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetExploreMoodsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get curated explore-page shelf rows
     * Returns curated shelves (top-rated, recently-added, hidden gems, most-played). Empty rows are omitted.
     * @return ExploreRowsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getExploreRows(): HttpResponse<ExploreRowsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/rows",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get personalized recommendation rows
     * Returns personalized recommendation shelves derived from the caller&#39;s play history.
     * @return ForYouResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getForYou(): HttpResponse<ForYouResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/for-you",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get games with cached achievements the caller hasn&#39;t started
     * Returns up to 20 games with cached achievements where the caller has zero unlocks yet.
     * @return FreshChallengesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getFreshChallenges(): HttpResponse<FreshChallengesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/fresh-challenges",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get games with lowest avg achievement completion
     * Returns up to 20 games with the lowest average achievement completion rate. Requires at least 2 players attempting.
     * @return HardestGamesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getHardestGames(): HttpResponse<HardestGamesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/hardest-games",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get games matching a specific mood
     * Returns up to 20 games matching the chosen mood (chill, challenge, nostalgia, something-new, quick, together).
     * @param mood Mood identifier, e.g. &#39;chill&#39;, &#39;challenge&#39;.
     * @return kotlin.collections.List<GameResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMoodGames(mood: kotlin.String): HttpResponse<kotlin.collections.List<GameResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/mood/{mood}".replace("{" + "mood" + "}", "$mood"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetMoodGamesResponse>().map { value }
    }

    @Serializable(GetMoodGamesResponse.Companion::class)
    private class GetMoodGamesResponse(val value: List<GameResponse>) {
        companion object : KSerializer<GetMoodGamesResponse> {
            private val serializer: KSerializer<List<GameResponse>> = serializer<List<GameResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetMoodGamesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetMoodGamesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get games released on today&#39;s month/day
     * Returns up to 20 games released on today&#39;s month/day across all years, sorted oldest first.
     * @return OnThisDayResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getOnThisDay(): HttpResponse<OnThisDayResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/on-this-day",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get collaborative-filter game recommendations
     * Returns games favourited by users whose favourites overlap with the caller&#39;s. Uses Jaccard similarity.
     * @return PlayersLikeYouResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPlayersLikeYou(): HttpResponse<PlayersLikeYouResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/players-like-you",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get publisher detail
     * Returns all games by a specific publisher along with statistics (rating distribution, genre/platform breakdown, user stats, timeline, related publishers).
     * @param name Publisher name (URL-decoded).
     * @return PublisherDetailResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPublisherDetail(name: kotlin.String): HttpResponse<PublisherDetailResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/publishers/{name}".replace("{" + "name" + "}", "$name"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get games with recent user reviews
     * Returns the 20 most recent user reviews (non-empty review text) with game + reviewer metadata.
     * @return RecentlyReviewedResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getRecentlyReviewed(): HttpResponse<RecentlyReviewedResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/recently-reviewed",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get paginated screenshot gallery
     * Returns a paginated stream of screenshots with minimal game metadata. Supports console/genre filters.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param limit Page size (defaults to 40, max 100). (optional)
     * @param console Console abbreviation filter. (optional)
     * @param genre Genre filter. (optional)
     * @return ScreenshotGalleryResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getScreenshotGallery(page: kotlin.Long? = null, limit: kotlin.Long? = null, console: kotlin.String? = null, genre: kotlin.String? = null): HttpResponse<ScreenshotGalleryResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        console?.apply { localVariableQuery["console"] = listOf("$console") }
        genre?.apply { localVariableQuery["genre"] = listOf("$genre") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/screenshots",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a random surprise game
     * Returns a single random game matching optional console/genre/min-rating filters.
     * @param console Console abbreviation filter. (optional)
     * @param genre Genre filter. (optional)
     * @param minRating Minimum IGDB rating (0-100); defaults to 70. (optional)
     * @return GameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSurpriseGame(console: kotlin.String? = null, genre: kotlin.String? = null, minRating: kotlin.String? = null): HttpResponse<GameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        console?.apply { localVariableQuery["console"] = listOf("$console") }
        genre?.apply { localVariableQuery["genre"] = listOf("$genre") }
        minRating?.apply { localVariableQuery["minRating"] = listOf("$minRating") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/surprise",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get trending games
     * Returns up to 20 games with the most distinct players in the last 7 days.
     * @return TrendingResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getTrending(): HttpResponse<TrendingResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/trending",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get wizard recommendations
     * Returns 5 game recommendations based on the wizard&#39;s mood/era/vibe selections.
     * @param mood Chosen mood (action|chill|story|challenge|fun). (optional)
     * @param era Chosen era (80s|early90s|late90s|2000s|any). (optional)
     * @param vibe Chosen vibe (solo|multiplayer|short|long|any). (optional)
     * @return WizardResultsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getWizardResults(mood: kotlin.String? = null, era: kotlin.String? = null, vibe: kotlin.String? = null): HttpResponse<WizardResultsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mood?.apply { localVariableQuery["mood"] = listOf("$mood") }
        era?.apply { localVariableQuery["era"] = listOf("$era") }
        vibe?.apply { localVariableQuery["vibe"] = listOf("$vibe") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/wizard/results",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get decision wizard steps
     * Returns the static decision wizard configuration (steps + options).
     * @return WizardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getWizardSteps(): HttpResponse<WizardResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/wizard",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get personal gameplay anniversaries
     * Returns games the caller played roughly 1..10 years ago (within a 3-day window of today&#39;s date).
     * @return AnniversariesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getYourAnniversaries(): HttpResponse<AnniversariesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/explore/your-anniversaries",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
