/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.GameResponse
import com.spela.client.models.HumaError
import com.spela.client.models.MessageResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class FavoritesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Add a game to the caller&#39;s favorites
     * Marks the specified game as favorited for the authenticated user. Emits a favorited_game activity event on success.
     * @param gameId Game ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addFavorite(gameId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/user/favorites/{gameId}".replace("{" + "gameId" + "}", "$gameId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the caller&#39;s favorite games
     * Returns a flat list of the authenticated user&#39;s favorited games with enrichment data (play history, ratings, artwork).
     * @return kotlin.collections.List<GameResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listFavorites(): HttpResponse<kotlin.collections.List<GameResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/user/favorites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListFavoritesResponse>().map { value }
    }

    @Serializable(ListFavoritesResponse.Companion::class)
    private class ListFavoritesResponse(val value: List<GameResponse>) {
        companion object : KSerializer<ListFavoritesResponse> {
            private val serializer: KSerializer<List<GameResponse>> = serializer<List<GameResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListFavoritesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListFavoritesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Remove a game from the caller&#39;s favorites
     * Unfavorites the specified game for the authenticated user.
     * @param gameId Game ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun removeFavorite(gameId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/user/favorites/{gameId}".replace("{" + "gameId" + "}", "$gameId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
