/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.AcceptInviteBody
import com.spela.client.models.AggregatedStatsOutputBody
import com.spela.client.models.AvailableGamesOutputBody
import com.spela.client.models.CatalogConsolesOutputBody
import com.spela.client.models.HumaError
import com.spela.client.models.IssueInviteOutputBody
import com.spela.client.models.ListExchangesOutputBody
import com.spela.client.models.ListImportsOutputBody
import com.spela.client.models.ListPeersOutputBody
import com.spela.client.models.PairRequestBody
import com.spela.client.models.PairResponseBody
import com.spela.client.models.PingResult
import com.spela.client.models.RefreshCatalogOutputBody
import com.spela.client.models.RefreshStatsOutputBody
import com.spela.client.models.RevokePeerOutputBody
import com.spela.client.models.StartImportInputBody
import com.spela.client.models.StartImportOutputBody
import com.spela.client.models.UpdatePeerPolicyBody
import com.spela.client.models.UpdatePeerPolicyOutputBody

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class FederationApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Accept a friend&#39;s invite and pair
     * 
     * @param acceptInviteBody 
     * @return PairResponseBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationAcceptInvite(acceptInviteBody: AcceptInviteBody): HttpResponse<PairResponseBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = acceptInviteBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/federation/peers/accept",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }




    /**
     * enum for parameter metric
     */
    @Serializable
    enum class MetricFederationAggregatedStats(val value: kotlin.String) {
        
        @SerialName(value = "game_play")
        game_play("game_play"),
        
        @SerialName(value = "player_play")
        player_play("player_play")
        
    }

    /**
     * Federated (mesh) aggregate stats, hop-bounded
     * 
     * @param metric  (optional)
     * @param limit  (optional)
     * @param maxHops  (optional)
     * @return AggregatedStatsOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationAggregatedStats(metric: MetricFederationAggregatedStats? = null, limit: kotlin.Long? = null, maxHops: kotlin.Long? = null): HttpResponse<AggregatedStatsOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        metric?.apply { localVariableQuery["metric"] = listOf("${ metric.value }") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        maxHops?.apply { localVariableQuery["maxHops"] = listOf("$maxHops") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/federation/stats/aggregated",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Games available across the friend mesh, hop-bounded
     * 
     * @param maxHops  (optional)
     * @param remoteOnly  (optional)
     * @param q  (optional)
     * @param key  (optional)
     * @param console  (optional)
     * @return AvailableGamesOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationAvailableGames(maxHops: kotlin.Long? = null, remoteOnly: kotlin.Boolean? = null, q: kotlin.String? = null, key: kotlin.String? = null, console: kotlin.String? = null): HttpResponse<AvailableGamesOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        maxHops?.apply { localVariableQuery["maxHops"] = listOf("$maxHops") }
        remoteOnly?.apply { localVariableQuery["remoteOnly"] = listOf("$remoteOnly") }
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        key?.apply { localVariableQuery["key"] = listOf("$key") }
        console?.apply { localVariableQuery["console"] = listOf("$console") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/federation/catalog/available",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Per-console game counts across the connected-server mesh
     * 
     * @param maxHops  (optional)
     * @param remoteOnly  (optional)
     * @return CatalogConsolesOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationCatalogConsoles(maxHops: kotlin.Long? = null, remoteOnly: kotlin.Boolean? = null): HttpResponse<CatalogConsolesOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        maxHops?.apply { localVariableQuery["maxHops"] = listOf("$maxHops") }
        remoteOnly?.apply { localVariableQuery["remoteOnly"] = listOf("$remoteOnly") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/federation/catalog/consoles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Issue a federation pairing invite
     * 
     * @return IssueInviteOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationIssueInvite(): HttpResponse<IssueInviteOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/federation/invite",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the federation exchange ledger (observability)
     * 
     * @param peer  (optional)
     * @param direction  (optional)
     * @param status  (optional)
     * @param limit  (optional)
     * @return ListExchangesOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationListExchanges(peer: kotlin.String? = null, direction: kotlin.String? = null, status: kotlin.String? = null, limit: kotlin.Long? = null): HttpResponse<ListExchangesOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        peer?.apply { localVariableQuery["peer"] = listOf("$peer") }
        direction?.apply { localVariableQuery["direction"] = listOf("$direction") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/federation/exchanges",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List game imports with status and progress
     * 
     * @param limit  (optional)
     * @return ListImportsOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationListImports(limit: kotlin.Long? = null): HttpResponse<ListImportsOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/federation/imports",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List federation peers (with health)
     * 
     * @return ListPeersOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationListPeers(): HttpResponse<ListPeersOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/federation/peers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Pairing callback (server-to-server bootstrap)
     * 
     * @param pairRequestBody 
     * @param xSpelaRequestId  (optional)
     * @return PairResponseBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationPair(pairRequestBody: PairRequestBody, xSpelaRequestId: kotlin.String? = null): HttpResponse<PairResponseBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = pairRequestBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xSpelaRequestId?.apply { localVariableHeaders["X-Spela-Request-Id"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/federation/pair",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Refresh cached friend game catalogs now
     * 
     * @return RefreshCatalogOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationRefreshCatalog(): HttpResponse<RefreshCatalogOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/federation/catalog/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Refresh cached friend stat rollups now
     * 
     * @return RefreshStatsOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationRefreshStats(): HttpResponse<RefreshStatsOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/federation/stats/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Revoke a federation peer
     * 
     * @param fingerprint Peer fingerprint (base32).
     * @return RevokePeerOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationRevokePeer(fingerprint: kotlin.String): HttpResponse<RevokePeerOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/admin/federation/peers/{fingerprint}".replace("{" + "fingerprint" + "}", "$fingerprint"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Import a connected-server game into the local library
     * 
     * @param startImportInputBody 
     * @return StartImportOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationStartImport(startImportInputBody: StartImportInputBody): HttpResponse<StartImportOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = startImportInputBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/federation/import",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Test connection to a peer
     * 
     * @param fingerprint Peer fingerprint (base32).
     * @return PingResult
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationTestPeer(fingerprint: kotlin.String): HttpResponse<PingResult> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/federation/peers/{fingerprint}/test".replace("{" + "fingerprint" + "}", "$fingerprint"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a peer&#39;s share/consume policy
     * 
     * @param fingerprint Peer fingerprint (base32).
     * @param updatePeerPolicyBody 
     * @return UpdatePeerPolicyOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun federationUpdatePeerPolicy(fingerprint: kotlin.String, updatePeerPolicyBody: UpdatePeerPolicyBody): HttpResponse<UpdatePeerPolicyOutputBody> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updatePeerPolicyBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/admin/federation/peers/{fingerprint}/policy".replace("{" + "fingerprint" + "}", "$fingerprint"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
