/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.DeveloperGameResponse
import com.spela.client.models.GameArtworkResponse
import com.spela.client.models.GameCheatResponse
import com.spela.client.models.GameResponse
import com.spela.client.models.GameStatsResponse
import com.spela.client.models.HumaError
import com.spela.client.models.PaginatedResponseGameResponse
import com.spela.client.models.SimilarGameResponse
import com.spela.client.models.StatusMessageResponse
import com.spela.client.models.UpdateGamePlayTimeRequest
import com.spela.client.models.UpdateGamePlayTimeResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class GamesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get other games by the same developer
     * Returns up to 20 other games by the same developer that are in the local library.
     * @param id Game ID.
     * @return kotlin.collections.List<DeveloperGameResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDeveloperGames(id: kotlin.String): HttpResponse<kotlin.collections.List<DeveloperGameResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/developer-games".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetDeveloperGamesResponse>().map { value }
    }

    @Serializable(GetDeveloperGamesResponse.Companion::class)
    private class GetDeveloperGamesResponse(val value: List<DeveloperGameResponse>) {
        companion object : KSerializer<GetDeveloperGamesResponse> {
            private val serializer: KSerializer<List<DeveloperGameResponse>> = serializer<List<DeveloperGameResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetDeveloperGamesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetDeveloperGamesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get game by ID
     * Returns the full enriched game record including variants, ROM-hack references, BIOS status and user-scoped data.
     * @param id Game ID.
     * @return GameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getGame(id: kotlin.String): HttpResponse<GameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get game artwork URLs
     * Returns the SteamGridDB hero, grid, logo, and icon artwork URLs for a game. Returns an empty response (not 404) when no artwork has been scraped yet.
     * @param id Game ID.
     * @return GameArtworkResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getGameArtwork(id: kotlin.String): HttpResponse<GameArtworkResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/artwork".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get cheat codes for a game
     * Returns all cheat codes associated with the specified game, ordered by cheat index.
     * @param id Game ID.
     * @return kotlin.collections.List<GameCheatResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getGameCheats(id: kotlin.String): HttpResponse<kotlin.collections.List<GameCheatResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/cheats".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetGameCheatsResponse>().map { value }
    }

    @Serializable(GetGameCheatsResponse.Companion::class)
    private class GetGameCheatsResponse(val value: List<GameCheatResponse>) {
        companion object : KSerializer<GetGameCheatsResponse> {
            private val serializer: KSerializer<List<GameCheatResponse>> = serializer<List<GameCheatResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetGameCheatsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetGameCheatsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get aggregate community play stats for a game
     * Returns total player count, total/average play time and up to 10 top players by play time for the specified game.
     * @param id Game ID.
     * @return GameStatsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getGameStats(id: kotlin.String): HttpResponse<GameStatsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/stats".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get recommended libretro core for a game
     * Returns the recommended libretro core for the game — either the full Core record (when known to the server) or a bare {coreName} fallback.
     * @param id Game ID.
     * @return kotlin.Any
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getRecommendedCore(id: kotlin.String): HttpResponse<kotlin.Any> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/core".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get similar games
     * Returns IGDB-sourced similar games for a local game. Results are cached locally and refreshed from IGDB when older than 7 days.
     * @param id Game ID.
     * @return kotlin.collections.List<SimilarGameResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSimilarGames(id: kotlin.String): HttpResponse<kotlin.collections.List<SimilarGameResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/similar".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetSimilarGamesResponse>().map { value }
    }

    @Serializable(GetSimilarGamesResponse.Companion::class)
    private class GetSimilarGamesResponse(val value: List<SimilarGameResponse>) {
        companion object : KSerializer<GetSimilarGamesResponse> {
            private val serializer: KSerializer<List<SimilarGameResponse>> = serializer<List<SimilarGameResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetSimilarGamesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetSimilarGamesResponse(serializer.deserialize(decoder))
        }
    }


    /**
     * enum for parameter grouped
     */
    @Serializable
    enum class GroupedListGames(val value: kotlin.String) {
        
        @SerialName(value = "true")
        `true`("true"),
        
        @SerialName(value = "false")
        `false`("false")
        
    }


    /**
     * enum for parameter hidePreRelease
     */
    @Serializable
    enum class HidePreReleaseListGames(val value: kotlin.String) {
        
        @SerialName(value = "true")
        `true`("true"),
        
        @SerialName(value = "false")
        `false`("false")
        
    }

    /**
     * List games
     * Returns a paginated list of games across all consoles. Supports console, genre, theme, keyword, perspective, developer, publisher, region, search, letter, year-range, rating-range, play-status, grouped, and hidePreRelease filters.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 50, clamped to 1-200). (optional)
     * @param perPage Legacy alias for pageSize. (optional)
     * @param consoles Comma-separated console abbreviations. (optional)
     * @param consoleId Legacy alias for consoles (single console abbreviation). (optional)
     * @param search Substring match on title. (optional)
     * @param letter Alphabet quick-jump filter (&#39;A&#39;-&#39;Z&#39; or &#39;#&#39; for non-alpha). (optional)
     * @param region Region filter (comma-separated for multi-select). (optional)
     * @param genres Comma-separated genres. (optional)
     * @param genre Legacy alias for genres. (optional)
     * @param themes Comma-separated IGDB theme IDs. (optional)
     * @param theme Legacy alias for themes. (optional)
     * @param keywords Comma-separated IGDB keyword IDs. (optional)
     * @param keyword Legacy alias for keywords. (optional)
     * @param perspectives Comma-separated IGDB player-perspective IDs. (optional)
     * @param perspective Legacy alias for perspectives. (optional)
     * @param developer Developer substring filter. (optional)
     * @param publisher Publisher substring filter. (optional)
     * @param yearMin Earliest release year (inclusive). (optional)
     * @param yearMax Latest release year (inclusive). (optional)
     * @param ratingMin Minimum rating (0-100). (optional)
     * @param ratingMax Maximum rating (0-100). (optional)
     * @param playStatus Restrict to unplayed | played | favorited | play-later for the current user. (optional)
     * @param grouped Show only primary variants. (optional, default to true)
     * @param hidePreRelease Hide betas/protos/samples. (optional, default to true)
     * @param sortBy Sort column (title, created_at, file_size, rating, release_date). (optional)
     * @param sort Legacy alias for sortBy. (optional)
     * @param sortOrder Sort direction (asc, desc). (optional)
     * @param order Legacy alias for sortOrder. (optional)
     * @return PaginatedResponseGameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listGames(page: kotlin.Long? = null, pageSize: kotlin.Long? = null, perPage: kotlin.Long? = null, consoles: kotlin.String? = null, consoleId: kotlin.String? = null, search: kotlin.String? = null, letter: kotlin.String? = null, region: kotlin.String? = null, genres: kotlin.String? = null, genre: kotlin.String? = null, themes: kotlin.String? = null, theme: kotlin.String? = null, keywords: kotlin.String? = null, keyword: kotlin.String? = null, perspectives: kotlin.String? = null, perspective: kotlin.String? = null, developer: kotlin.String? = null, publisher: kotlin.String? = null, yearMin: kotlin.String? = null, yearMax: kotlin.String? = null, ratingMin: kotlin.String? = null, ratingMax: kotlin.String? = null, playStatus: kotlin.String? = null, grouped: GroupedListGames? = GroupedListGames.`true`, hidePreRelease: HidePreReleaseListGames? = HidePreReleaseListGames.`true`, sortBy: kotlin.String? = null, sort: kotlin.String? = null, sortOrder: kotlin.String? = null, order: kotlin.String? = null): HttpResponse<PaginatedResponseGameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        perPage?.apply { localVariableQuery["perPage"] = listOf("$perPage") }
        consoles?.apply { localVariableQuery["consoles"] = listOf("$consoles") }
        consoleId?.apply { localVariableQuery["consoleId"] = listOf("$consoleId") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        letter?.apply { localVariableQuery["letter"] = listOf("$letter") }
        region?.apply { localVariableQuery["region"] = listOf("$region") }
        genres?.apply { localVariableQuery["genres"] = listOf("$genres") }
        genre?.apply { localVariableQuery["genre"] = listOf("$genre") }
        themes?.apply { localVariableQuery["themes"] = listOf("$themes") }
        theme?.apply { localVariableQuery["theme"] = listOf("$theme") }
        keywords?.apply { localVariableQuery["keywords"] = listOf("$keywords") }
        keyword?.apply { localVariableQuery["keyword"] = listOf("$keyword") }
        perspectives?.apply { localVariableQuery["perspectives"] = listOf("$perspectives") }
        perspective?.apply { localVariableQuery["perspective"] = listOf("$perspective") }
        developer?.apply { localVariableQuery["developer"] = listOf("$developer") }
        publisher?.apply { localVariableQuery["publisher"] = listOf("$publisher") }
        yearMin?.apply { localVariableQuery["yearMin"] = listOf("$yearMin") }
        yearMax?.apply { localVariableQuery["yearMax"] = listOf("$yearMax") }
        ratingMin?.apply { localVariableQuery["ratingMin"] = listOf("$ratingMin") }
        ratingMax?.apply { localVariableQuery["ratingMax"] = listOf("$ratingMax") }
        playStatus?.apply { localVariableQuery["playStatus"] = listOf("$playStatus") }
        grouped?.apply { localVariableQuery["grouped"] = listOf("${ grouped.value }") }
        hidePreRelease?.apply { localVariableQuery["hidePreRelease"] = listOf("${ hidePreRelease.value }") }
        sortBy?.apply { localVariableQuery["sortBy"] = listOf("$sortBy") }
        sort?.apply { localVariableQuery["sort"] = listOf("$sort") }
        sortOrder?.apply { localVariableQuery["sortOrder"] = listOf("$sortOrder") }
        order?.apply { localVariableQuery["order"] = listOf("$order") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Enqueue a game for scraping if not already scraped
     * Returns {status:&#39;already_scraped&#39;} if the game has metadata, {status:&#39;already_queued&#39;} if a scrape is pending, or 202 {status:&#39;queued&#39;} if a new scrape job was enqueued.
     * @param id Game ID.
     * @return StatusMessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun scrapeGameIfNeeded(id: kotlin.String): HttpResponse<StatusMessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/games/{id}/scrape-if-needed".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Clear the authenticated user&#39;s currently-playing status
     * Clears the user&#39;s currently-playing game in the WebSocket hub. The path-level game ID is accepted for symmetry with POST but is not inspected.
     * @param id Game ID (path placeholder; not used server-side).
     * @return StatusMessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stopPlayingGame(id: kotlin.String): HttpResponse<StatusMessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/games/{id}/play-time".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Increment the authenticated user&#39;s play time for a game
     * Adds the supplied number of seconds to the caller&#39;s play history for the specified game and marks them as currently playing it. Records daily activity for the play heatmap.
     * @param id Game ID.
     * @param updateGamePlayTimeRequest 
     * @return UpdateGamePlayTimeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateGamePlayTime(id: kotlin.String, updateGamePlayTimeRequest: UpdateGamePlayTimeRequest): HttpResponse<UpdateGamePlayTimeResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateGamePlayTimeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/games/{id}/play-time".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
