/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.CreateNetplaySessionRequest
import com.spela.client.models.HumaError
import com.spela.client.models.JoinByInviteCodeRequest
import com.spela.client.models.LeaveNetplaySessionResponse
import com.spela.client.models.ListMyNetplayInvitesResponse
import com.spela.client.models.MessageResponse
import com.spela.client.models.NetplayInviteResponse
import com.spela.client.models.NetplayInviteUserRequest
import com.spela.client.models.NetplaySessionResponse
import com.spela.client.models.PaginatedResponseNetplaySessionResponse
import com.spela.client.models.PendingNetplayInviteCountResponse
import com.spela.client.models.UpdateNetplaySettingsRequest

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class NetplayApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Accept a netplay invite
     * Marks the invite as accepted and expires other pending invites for the same session.
     * @param inviteId Invite ID.
     * @return NetplayInviteResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun acceptNetplayInvite(inviteId: kotlin.String): HttpResponse<NetplayInviteResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/netplay/invites/{inviteId}/accept".replace("{" + "inviteId" + "}", "$inviteId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a netplay session
     * Creates a new netplay session with a generated 6-character invite code. Only supported on a curated set of consoles (NES, SNES, GB/GBC/GBA, GEN).
     * @param createNetplaySessionRequest 
     * @return NetplaySessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createNetplaySession(createNetplaySessionRequest: CreateNetplaySessionRequest): HttpResponse<NetplaySessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createNetplaySessionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/netplay/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Decline a netplay invite
     * Marks the invite as declined.
     * @param inviteId Invite ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun declineNetplayInvite(inviteId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/netplay/invites/{inviteId}/decline".replace("{" + "inviteId" + "}", "$inviteId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a netplay session
     * Host can delete any session they own; admin/owner can force-delete. Associated invites are expired and records cleaned up.
     * @param id Netplay session ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteNetplaySession(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/netplay/sessions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a netplay session by ID
     * Returns netplay session details with host, client, game and console metadata.
     * @param id Netplay session ID.
     * @return NetplaySessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getNetplaySession(id: kotlin.String): HttpResponse<NetplaySessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/netplay/sessions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Count pending netplay invites for the caller
     * Returns the number of pending netplay invites for the authenticated user.
     * @return PendingNetplayInviteCountResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPendingNetplayInviteCount(): HttpResponse<PendingNetplayInviteCountResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/netplay/invites/count",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Join a netplay session via invite code
     * Atomically joins a waiting session by its 6-character invite code. Fails with 409 if the session is already full.
     * @param joinByInviteCodeRequest 
     * @return NetplaySessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun joinNetplayByInviteCode(joinByInviteCodeRequest: JoinByInviteCodeRequest): HttpResponse<NetplaySessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = joinByInviteCodeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/netplay/sessions/join",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Leave a netplay session
     * Ends the session. endReason is host_left or client_left depending on who leaves.
     * @param id Netplay session ID.
     * @return LeaveNetplaySessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun leaveNetplaySession(id: kotlin.String): HttpResponse<LeaveNetplaySessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/netplay/sessions/{id}/leave".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List pending netplay invites for the caller
     * Returns the caller&#39;s pending netplay invites wrapped in a { data, total } envelope.
     * @return ListMyNetplayInvitesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listMyNetplayInvites(): HttpResponse<ListMyNetplayInvitesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/netplay/invites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List invites for a netplay session
     * Host-only. Returns every invite ever sent for the specified netplay session, newest first.
     * @param id Netplay session ID.
     * @return kotlin.collections.List<NetplayInviteResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listNetplaySessionInvites(id: kotlin.String): HttpResponse<kotlin.collections.List<NetplayInviteResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/netplay/sessions/{id}/invites".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListNetplaySessionInvitesResponse>().map { value }
    }

    @Serializable(ListNetplaySessionInvitesResponse.Companion::class)
    private class ListNetplaySessionInvitesResponse(val value: List<NetplayInviteResponse>) {
        companion object : KSerializer<ListNetplaySessionInvitesResponse> {
            private val serializer: KSerializer<List<NetplayInviteResponse>> = serializer<List<NetplayInviteResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListNetplaySessionInvitesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListNetplaySessionInvitesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List netplay sessions for the caller
     * Returns the caller&#39;s sessions (as host or client) plus currently-waiting sessions (under 15 minutes old). Paginated.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-100). (optional)
     * @return PaginatedResponseNetplaySessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listNetplaySessions(page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseNetplaySessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/netplay/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Invite a user to a netplay session
     * Host-only. Invites a user by username. The session must be in the waiting state and the invitee must not already have a pending invite.
     * @param id Netplay session ID.
     * @param netplayInviteUserRequest 
     * @return NetplayInviteResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun netplayInviteUser(id: kotlin.String, netplayInviteUserRequest: NetplayInviteUserRequest): HttpResponse<NetplayInviteResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = netplayInviteUserRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/netplay/sessions/{id}/invites".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update netplay session settings
     * Host-only. Updates the input delay (1-10 frames) for the session.
     * @param id Netplay session ID.
     * @param updateNetplaySettingsRequest 
     * @return NetplaySessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateNetplaySettings(id: kotlin.String, updateNetplaySettingsRequest: UpdateNetplaySettingsRequest): HttpResponse<NetplaySessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateNetplaySettingsRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/netplay/sessions/{id}/settings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
