/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.GameResponse
import com.spela.client.models.HumaError
import com.spela.client.models.MessageResponse
import com.spela.client.models.ReorderPlayLaterRequest

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class PlayLaterApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Append a game to the caller&#39;s Play Later queue
     * Idempotent: adds the game at the end of the queue (position &#x3D; max+1). Returns 201 for new entries, 200 when the game was already present.
     * @param gameId Game ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addToPlayLater(gameId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/user/play-later/{gameId}".replace("{" + "gameId" + "}", "$gameId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the caller&#39;s Play Later queue
     * Returns the authenticated user&#39;s Play Later queue as a flat game list, ordered by the user-defined position.
     * @return kotlin.collections.List<GameResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listPlayLater(): HttpResponse<kotlin.collections.List<GameResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/user/play-later",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListPlayLaterResponse>().map { value }
    }

    @Serializable(ListPlayLaterResponse.Companion::class)
    private class ListPlayLaterResponse(val value: List<GameResponse>) {
        companion object : KSerializer<ListPlayLaterResponse> {
            private val serializer: KSerializer<List<GameResponse>> = serializer<List<GameResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListPlayLaterResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListPlayLaterResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Remove a game from the caller&#39;s Play Later queue
     * Removes the specified game from the authenticated user&#39;s Play Later queue.
     * @param gameId Game ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun removeFromPlayLater(gameId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/user/play-later/{gameId}".replace("{" + "gameId" + "}", "$gameId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Reorder the caller&#39;s Play Later queue
     * Replaces the user-defined order of the caller&#39;s Play Later queue. The supplied gameIds list must include every game currently in the queue.
     * @param reorderPlayLaterRequest 
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun reorderPlayLater(reorderPlayLaterRequest: ReorderPlayLaterRequest): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = reorderPlayLaterRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/user/play-later/reorder",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
