/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.spela.client.apis

import com.spela.client.models.CreateOrUpdateRatingRequest
import com.spela.client.models.GameRatingResponse
import com.spela.client.models.HumaError
import com.spela.client.models.MessageResponse
import com.spela.client.models.PaginatedResponseGameRatingResponse
import com.spela.client.models.RatingSummaryResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class RatingsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Create or update the caller&#39;s rating for a game
     * Upserts the authenticated user&#39;s rating for the specified game. Returns 201 on create, 200 on update.
     * @param id Game ID.
     * @param createOrUpdateRatingRequest 
     * @return GameRatingResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createOrUpdateGameRating(id: kotlin.String, createOrUpdateRatingRequest: CreateOrUpdateRatingRequest): HttpResponse<GameRatingResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createOrUpdateRatingRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/games/{id}/ratings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete the caller&#39;s rating for a game
     * Removes the authenticated user&#39;s rating for the specified game.
     * @param id Game ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteMyGameRating(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/games/{id}/ratings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get the aggregated rating summary for a game
     * Returns the average rating, total count and 1-5 distribution for the specified game.
     * @param id Game ID.
     * @return RatingSummaryResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getGameRatingSummary(id: kotlin.String): HttpResponse<RatingSummaryResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/ratings/summary".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get the caller&#39;s rating for a game
     * Returns the authenticated user&#39;s rating for the specified game, or 404 if none is set.
     * @param id Game ID.
     * @return GameRatingResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMyGameRating(id: kotlin.String): HttpResponse<GameRatingResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/ratings/mine".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List ratings for a game
     * Returns a paginated list of all user ratings for the specified game, newest first.
     * @param id Game ID.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-100). (optional)
     * @return PaginatedResponseGameRatingResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listGameRatings(id: kotlin.String, page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseGameRatingResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/ratings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
