/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.spela.client.apis

import com.spela.client.models.HumaError
import com.spela.client.models.MessageResponse
import com.spela.client.models.ScrapeGameResponse
import com.spela.client.models.ScrapeStartedResponse
import com.spela.client.models.ScrapeStatusCountsResponse
import com.spela.client.models.ScrapeStatusResponse
import com.spela.client.models.SteamGridDBStatusResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ScraperApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Cancel the active scrape
     * Admin-only. Cancels the currently running scrape job. Kicks off a post-cancel variant-regroup pass.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun cancelScrape(): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/admin/scrape",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get scrape status
     * Admin-only. Returns the current scrape job state (active, counts, mode).
     * @return ScrapeStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getScrapeStatus(): HttpResponse<ScrapeStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/scrape/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get scrape result counts
     * Admin-only. Returns aggregate scrape result counts per source (matched, not found, error, not attempted).
     * @return ScrapeStatusCountsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getScrapeStatusCounts(): HttpResponse<ScrapeStatusCountsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/scrape/counts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get SteamGridDB status
     * Admin-only. Returns whether SteamGridDB is configured and the credential source (env, database, none).
     * @return SteamGridDBStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSteamGridDBStatus(): HttpResponse<SteamGridDBStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/admin/steamgriddb/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Scrape a single game
     * Admin-only. Enqueues a single game for scraping, attaching to the active job if any.
     * @param id Game ID.
     * @return ScrapeGameResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun scrapeGame(id: kotlin.String): HttpResponse<ScrapeGameResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/games/{id}/scrape".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Trigger a scrape job
     * Admin-only. Enqueues matching games for scraping. Supports conflict resolution (reject/replace/merge) if another scrape is active.
     * @param mode Scrape mode: &#39;new&#39; (default), &#39;all&#39;, &#39;fallback&#39;, &#39;ra&#39;. (optional)
     * @param force Legacy: &#39;true&#39; is equivalent to mode&#x3D;all. (optional)
     * @param console Optional console abbreviation filter. (optional)
     * @param source Filter by scrape source (igdb, libretro, steamgriddb). (optional)
     * @param status Filter by scrape status (matched, not_found, error, not_attempted). (optional)
     * @param conflict Conflict resolution: &#39;reject&#39; (default), &#39;replace&#39;, &#39;merge&#39;. (optional)
     * @return ScrapeStartedResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun triggerScrape(mode: kotlin.String? = null, force: kotlin.String? = null, console: kotlin.String? = null, source: kotlin.String? = null, status: kotlin.String? = null, conflict: kotlin.String? = null): HttpResponse<ScrapeStartedResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        force?.apply { localVariableQuery["force"] = listOf("$force") }
        console?.apply { localVariableQuery["console"] = listOf("$console") }
        source?.apply { localVariableQuery["source"] = listOf("$source") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        conflict?.apply { localVariableQuery["conflict"] = listOf("$conflict") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/admin/scrape",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
