/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.BulkDeleteSessionSavesResponse
import com.spela.client.models.CreateSessionRequest
import com.spela.client.models.DuplicateSessionRequest
import com.spela.client.models.GameSessionResponse
import com.spela.client.models.HumaError
import com.spela.client.models.MessageResponse
import com.spela.client.models.SessionCheatsResponse
import com.spela.client.models.SessionSaveData
import com.spela.client.models.SessionSaveResponse
import com.spela.client.models.UpdateSessionCheatsRequest
import com.spela.client.models.UpdateSessionPlayTimeRequest
import com.spela.client.models.UpdateSessionRequest
import com.spela.client.models.UpdateSessionSaveRequest

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SessionsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Delete all saves for a session
     * Owner-only. Removes every save state (auto, manual, slot) from disk and DB. The session itself is kept.
     * @param id Session ID.
     * @return BulkDeleteSessionSavesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bulkDeleteSessionSaves(id: kotlin.String): HttpResponse<BulkDeleteSessionSavesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/sessions/{id}/saves".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Clone a session
     * Creates a copy of the session owned by the caller. Inherits TotalPlayTime and PinnedCoreSha256 from the source. Copies SRAM, cheats, the session screenshot, and one save state (the most recent, or the save identified by ?saveId&#x3D; when provided). Access: owner or any shared-session member.
     * @param id Session ID to clone.
     * @param saveId Optional save ID to clone from. Defaults to the most recent save when omitted or zero. (optional)
     * @param duplicateSessionRequest  (optional)
     * @return GameSessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun cloneSession(id: kotlin.String, saveId: kotlin.Long? = null, duplicateSessionRequest: DuplicateSessionRequest? = null): HttpResponse<GameSessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = duplicateSessionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        saveId?.apply { localVariableQuery["saveId"] = listOf("$saveId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/sessions/{id}/clone".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create a session for a game
     * Creates a new game session owned by the authenticated user.
     * @param id Game ID.
     * @param createSessionRequest 
     * @return GameSessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createSession(id: kotlin.String, createSessionRequest: CreateSessionRequest): HttpResponse<GameSessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createSessionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/games/{id}/sessions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create a session from a community shared save
     * Creates a new game session for the caller seeded from a community shared save. Copies the shared save file into the new session and increments the shared save&#39;s download counter.
     * @param id Game ID.
     * @param saveId Shared save ID to seed the new session from.
     * @return GameSessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createSessionFromSharedSave(id: kotlin.String, saveId: kotlin.String): HttpResponse<GameSessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/games/{id}/sessions/from-shared-save/{saveId}".replace("{" + "id" + "}", "$id").replace("{" + "saveId" + "}", "$saveId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a session and its saves
     * Owner-only. Deletes all save state files and records, SRAM data, and the session directory.
     * @param id Session ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteSession(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/sessions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a single save state
     * Owner-only. Removes the specified save state&#39;s file and record.
     * @param id Session ID.
     * @param saveId Save ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteSessionSave(id: kotlin.String, saveId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/sessions/{id}/saves/{saveId}".replace("{" + "id" + "}", "$id").replace("{" + "saveId" + "}", "$saveId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Download the latest auto-save of a session
     * Owner-only. Responds with application/octet-stream; 404 when no auto-save has been recorded yet.
     * @param id Session ID.
     * @return void
     */
    open suspend fun downloadSessionAutoSave(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/sessions/{id}/saves/auto".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Download SRAM data for a session
     * Owner-only. Responds with application/octet-stream.
     * @param id Session ID.
     * @return void
     */
    open suspend fun downloadSessionSRAM(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/sessions/{id}/sram".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Download a session save state
     * Owner-only. Responds with application/octet-stream.
     * @param id Session ID.
     * @param saveId Save state ID.
     * @return void
     */
    open suspend fun downloadSessionSave(id: kotlin.String, saveId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/sessions/{id}/saves/{saveId}".replace("{" + "id" + "}", "$id").replace("{" + "saveId" + "}", "$saveId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Download a session slot save
     * Owner-only. Slot is 1-10. Responds with application/octet-stream.
     * @param id Session ID.
     * @param slot Save slot number 1-10.
     * @return void
     */
    open suspend fun downloadSessionSlotSave(id: kotlin.String, slot: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/sessions/{id}/saves/slot/{slot}".replace("{" + "id" + "}", "$id").replace("{" + "slot" + "}", "$slot"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Duplicate a session (deprecated alias of clone)
     * Deprecated — use POST /api/sessions/{id}/clone instead. Behaviour is identical; this path is kept so in-flight clients keep working.
     * @param id Session ID to clone.
     * @param saveId Optional save ID to clone from. Defaults to the most recent save when omitted or zero. (optional)
     * @param duplicateSessionRequest  (optional)
     * @return GameSessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun duplicateSession(id: kotlin.String, saveId: kotlin.Long? = null, duplicateSessionRequest: DuplicateSessionRequest? = null): HttpResponse<GameSessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = duplicateSessionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        saveId?.apply { localVariableQuery["saveId"] = listOf("$saveId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/sessions/{id}/duplicate".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get a session by ID
     * Returns session details including shared-session membership metadata when applicable.
     * @param id Session ID.
     * @return GameSessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSession(id: kotlin.String): HttpResponse<GameSessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/sessions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get cheat configuration for a session
     * Returns cheatsEnabled flag and the list of enabled cheat indices.
     * @param id Session ID.
     * @return SessionCheatsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSessionCheats(id: kotlin.String): HttpResponse<SessionCheatsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/sessions/{id}/cheats".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List sessions for a game
     * Returns the caller&#39;s sessions for the specified game plus any backing sessions from shared sessions they&#39;re a member of.
     * @param id Game ID.
     * @return kotlin.collections.List<GameSessionResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listGameSessions(id: kotlin.String): HttpResponse<kotlin.collections.List<GameSessionResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/sessions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListGameSessionsResponse>().map { value }
    }

    @Serializable(ListGameSessionsResponse.Companion::class)
    private class ListGameSessionsResponse(val value: List<GameSessionResponse>) {
        companion object : KSerializer<ListGameSessionsResponse> {
            private val serializer: KSerializer<List<GameSessionResponse>> = serializer<List<GameSessionResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListGameSessionsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListGameSessionsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List save states in a session
     * Returns all save states (manual, auto, slot) for the specified session ordered by creation time descending.
     * @param id Session ID.
     * @return kotlin.collections.List<SessionSaveResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSessionSaves(id: kotlin.String): HttpResponse<kotlin.collections.List<SessionSaveResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/sessions/{id}/saves".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListSessionSavesResponse>().map { value }
    }

    @Serializable(ListSessionSavesResponse.Companion::class)
    private class ListSessionSavesResponse(val value: List<SessionSaveResponse>) {
        companion object : KSerializer<ListSessionSavesResponse> {
            private val serializer: KSerializer<List<SessionSaveResponse>> = serializer<List<SessionSaveResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListSessionSavesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListSessionSavesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List slot saves for a session
     * Returns all slot-based saves (slots 1-10) for the specified session ordered by slot number.
     * @param id Session ID.
     * @return kotlin.collections.List<SessionSaveResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSlotSaves(id: kotlin.String): HttpResponse<kotlin.collections.List<SessionSaveResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/sessions/{id}/saves/slots".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListSlotSavesResponse>().map { value }
    }

    @Serializable(ListSlotSavesResponse.Companion::class)
    private class ListSlotSavesResponse(val value: List<SessionSaveResponse>) {
        companion object : KSerializer<ListSlotSavesResponse> {
            private val serializer: KSerializer<List<SessionSaveResponse>> = serializer<List<SessionSaveResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListSlotSavesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListSlotSavesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Clear the last-played-by marker on a session
     * Owner-only. Clears the session&#39;s last_played_by field.
     * @param id Session ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun stopPlayingSession(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/sessions/{id}/play-time".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a session&#39;s name, cheats flag, or core
     * Owner-only. Partial update — nil fields are left unchanged.
     * @param id Session ID.
     * @param updateSessionRequest 
     * @return GameSessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateSession(id: kotlin.String, updateSessionRequest: UpdateSessionRequest): HttpResponse<GameSessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateSessionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/sessions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update cheat configuration for a session
     * Owner-only. Replaces the session&#39;s enabled-cheats set and updates the cheatsEnabled flag.
     * @param id Session ID.
     * @param updateSessionCheatsRequest 
     * @return SessionCheatsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateSessionCheats(id: kotlin.String, updateSessionCheatsRequest: UpdateSessionCheatsRequest): HttpResponse<SessionCheatsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateSessionCheatsRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/sessions/{id}/cheats".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Record play time for a session
     * Owner-only. Adds the supplied seconds to the session&#39;s total play time and marks the caller as last played by.
     * @param id Session ID.
     * @param updateSessionPlayTimeRequest 
     * @return GameSessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateSessionPlayTime(id: kotlin.String, updateSessionPlayTimeRequest: UpdateSessionPlayTimeRequest): HttpResponse<GameSessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateSessionPlayTimeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/sessions/{id}/play-time".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update a save state&#39;s name or notes
     * Owner-only. Partial update — nil fields are left unchanged.
     * @param id Session ID.
     * @param saveId Save ID.
     * @param updateSessionSaveRequest 
     * @return SessionSaveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateSessionSave(id: kotlin.String, saveId: kotlin.String, updateSessionSaveRequest: UpdateSessionSaveRequest): HttpResponse<SessionSaveResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateSessionSaveRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/sessions/{id}/saves/{saveId}".replace("{" + "id" + "}", "$id").replace("{" + "saveId" + "}", "$saveId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Upload an auto-save to a session
     * Stores an auto-save for the session and returns the resulting save record. Older auto-saves beyond the retention limit are pruned. Optionally attaches a screenshot.
     * @param id Session ID.
     * @param compression Compression algorithm applied to the save bytes (empty or &#39;gzip&#39;). Stored opaquely; players use it on download to decide whether to decompress. See #804. (optional)
     * @param coreName Identifier of the libretro core that produced the save. (optional)
     * @param coreSha256 Hex sha256 of the core binary that produced this save state. Optional — the server records it alongside the save for diagnostics and future rollback UX. Invalid values (not 64 hex chars) are silently dropped. See #555 Phase 3. (optional)
     * @param name Display name for the save (defaults to the uploaded filename). (optional)
     * @param save Save state file. Required. (optional)
     * @param screenshot Optional screenshot to attach to the save (typically PNG/JPEG). (optional)
     * @return SessionSaveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun uploadAutoSave(id: kotlin.String, compression: kotlin.String? = null, coreName: kotlin.String? = null, coreSha256: kotlin.String? = null, name: kotlin.String? = null, save: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null, screenshot: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null): HttpResponse<SessionSaveResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                compression?.apply { append("compression", compression) }
                coreName?.apply { append("coreName", coreName) }
                coreSha256?.apply { append("coreSha256", coreSha256) }
                name?.apply { append("name", name) }
                save?.apply { append(save) }
                screenshot?.apply { append(screenshot) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/sessions/{id}/saves/auto".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Upload SRAM data for a session
     * Stores or replaces the SRAM/battery save data for a session. Returns 201 on first upload, 200 on overwrite.
     * @param id Session ID.
     * @param file SRAM/battery save file. (optional)
     * @return SessionSaveData
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun uploadSRAM(id: kotlin.String, file: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null): HttpResponse<SessionSaveData> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                file?.apply { append(file) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/sessions/{id}/sram".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Upload a save state to a session
     * Stores a manual save state for the session and returns the resulting save record. Optionally attaches a screenshot.
     * @param id Session ID.
     * @param compression Compression algorithm applied to the save bytes (empty or &#39;gzip&#39;). Stored opaquely; players use it on download to decide whether to decompress. See #804. (optional)
     * @param coreName Identifier of the libretro core that produced the save. (optional)
     * @param coreSha256 Hex sha256 of the core binary that produced this save state. Optional — the server records it alongside the save for diagnostics and future rollback UX. Invalid values (not 64 hex chars) are silently dropped. See #555 Phase 3. (optional)
     * @param name Display name for the save (defaults to the uploaded filename). (optional)
     * @param save Save state file. Required. (optional)
     * @param screenshot Optional screenshot to attach to the save (typically PNG/JPEG). (optional)
     * @return SessionSaveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun uploadSessionSave(id: kotlin.String, compression: kotlin.String? = null, coreName: kotlin.String? = null, coreSha256: kotlin.String? = null, name: kotlin.String? = null, save: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null, screenshot: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null): HttpResponse<SessionSaveResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                compression?.apply { append("compression", compression) }
                coreName?.apply { append("coreName", coreName) }
                coreSha256?.apply { append("coreSha256", coreSha256) }
                name?.apply { append("name", name) }
                save?.apply { append(save) }
                screenshot?.apply { append(screenshot) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/sessions/{id}/saves".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Upload or overwrite a slot save
     * Stores a save state in the specified slot (1-10). If the slot already has a save, it is replaced.
     * @param id Session ID.
     * @param slot Slot number 1-10.
     * @param compression Compression algorithm applied to the save bytes (empty or &#39;gzip&#39;). Stored opaquely; players use it on download to decide whether to decompress. See #804. (optional)
     * @param coreName Identifier of the libretro core that produced the save. (optional)
     * @param coreSha256 Hex sha256 of the core binary that produced this save state. Optional — the server records it alongside the save for diagnostics and future rollback UX. Invalid values (not 64 hex chars) are silently dropped. See #555 Phase 3. (optional)
     * @param name Display name for the save (defaults to the uploaded filename). (optional)
     * @param save Save state file. Required. (optional)
     * @param screenshot Optional screenshot to attach to the save (typically PNG/JPEG). (optional)
     * @return SessionSaveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun upsertSlotSave(id: kotlin.String, slot: kotlin.String, compression: kotlin.String? = null, coreName: kotlin.String? = null, coreSha256: kotlin.String? = null, name: kotlin.String? = null, save: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null, screenshot: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null): HttpResponse<SessionSaveResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                compression?.apply { append("compression", compression) }
                coreName?.apply { append("coreName", coreName) }
                coreSha256?.apply { append("coreSha256", coreSha256) }
                name?.apply { append("name", name) }
                save?.apply { append(save) }
                screenshot?.apply { append(screenshot) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/sessions/{id}/saves/slot/{slot}".replace("{" + "id" + "}", "$id").replace("{" + "slot" + "}", "$slot"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
