/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.spela.client.apis

import com.spela.client.models.HumaError
import com.spela.client.models.MessageResponse
import com.spela.client.models.PaginatedResponseSharedSaveResponse
import com.spela.client.models.SharedSaveResponse

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SharedSavesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Delete a community shared save
     * Removes a shared save state. Allowed for the owner or an admin/owner role.
     * @param id Game ID.
     * @param saveId Shared save ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteSharedSave(id: kotlin.String, saveId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/games/{id}/shared-saves/{saveId}".replace("{" + "id" + "}", "$id").replace("{" + "saveId" + "}", "$saveId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Download a community shared save
     * Any authenticated user can download. Responds with application/octet-stream.
     * @param id Game ID.
     * @param saveId Shared save state ID.
     * @return void
     */
    open suspend fun downloadSharedSave(id: kotlin.String, saveId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/shared-saves/{saveId}/download".replace("{" + "id" + "}", "$id").replace("{" + "saveId" + "}", "$saveId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List community shared saves for a game
     * Returns a paginated list of community-shared save states for the specified game, newest first.
     * @param id Game ID.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-100). (optional)
     * @return PaginatedResponseSharedSaveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSharedSaves(id: kotlin.String, page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseSharedSaveResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/shared-saves".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Share a save state with the community
     * Uploads a save state for the specified game and publishes it as a community shared save. Other users can browse/download it from the game page.
     * @param id Game ID.
     * @param description Optional description shown alongside the save. (optional)
     * @param name Display name for the shared save (defaults to the uploaded filename). (optional)
     * @param save Save state file. Required. (optional)
     * @param screenshotUrl Optional pre-existing screenshot URL to attach. (optional)
     * @return SharedSaveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun shareSave(id: kotlin.String, description: kotlin.String? = null, name: kotlin.String? = null, save: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>? = null, screenshotUrl: kotlin.String? = null): HttpResponse<SharedSaveResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                description?.apply { append("description", description) }
                name?.apply { append("name", name) }
                save?.apply { append(save) }
                screenshotUrl?.apply { append("screenshotUrl", screenshotUrl) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/games/{id}/shared-saves".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
