/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.CreateSharedSessionRequest
import com.spela.client.models.HumaError
import com.spela.client.models.InviteToSharedSessionRequest
import com.spela.client.models.MessageResponse
import com.spela.client.models.RenameSharedSessionSaveRequest
import com.spela.client.models.SharedSessionDetailResponse
import com.spela.client.models.SharedSessionHeartbeatResponse
import com.spela.client.models.SharedSessionInviteCountResponse
import com.spela.client.models.SharedSessionInviteResponse
import com.spela.client.models.SharedSessionResponse
import com.spela.client.models.SharedSessionSaveResponse
import com.spela.client.models.SharedSessionTakeTurnResponse
import com.spela.client.models.UpdateSharedSessionRequest

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SharedSessionsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Accept a shared session invite
     * Marks the invite as accepted and adds the caller as a member. Emits a joined_shared_session activity event.
     * @param id Invite ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun acceptSharedSessionInvite(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/user/shared-session-invites/{id}/accept".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a shared session
     * Creates a new shared session backed by a GameSession, auto-adds the caller as owner member, and broadcasts a shared-session-created event.
     * @param createSharedSessionRequest 
     * @return SharedSessionDetailResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createSharedSession(createSharedSessionRequest: CreateSharedSessionRequest): HttpResponse<SharedSessionDetailResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = createSharedSessionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/shared-sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Decline a shared session invite
     * Marks the invite as declined.
     * @param id Invite ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun declineSharedSessionInvite(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/user/shared-session-invites/{id}/decline".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a shared session
     * Owner-only. Cleans up saves, invites, members and the shared-session record.
     * @param id Shared session ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteSharedSession(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/shared-sessions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a shared session save
     * Owner-only. Removes the save&#39;s file and DB record.
     * @param id Shared session ID.
     * @param saveId Save ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteSharedSessionSave(id: kotlin.String, saveId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/shared-sessions/{id}/saves/{saveId}".replace("{" + "id" + "}", "$id").replace("{" + "saveId" + "}", "$saveId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Count pending shared session invites for the caller
     * Returns the number of pending shared session invites for the authenticated user.
     * @return SharedSessionInviteCountResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPendingSharedSessionInviteCount(): HttpResponse<SharedSessionInviteCountResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/user/shared-session-invites/count",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a shared session by ID
     * Returns shared-session details including member list. Requires membership.
     * @param id Shared session ID.
     * @return SharedSessionDetailResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSharedSession(id: kotlin.String): HttpResponse<SharedSessionDetailResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/shared-sessions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Invite a user to a shared session
     * Requires membership. Invites a user by username. Duplicate active invites return 409. Previously declined invites are cleared before creating the new one.
     * @param id Shared session ID.
     * @param inviteToSharedSessionRequest 
     * @return SharedSessionInviteResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun inviteToSharedSession(id: kotlin.String, inviteToSharedSessionRequest: InviteToSharedSessionRequest): HttpResponse<SharedSessionInviteResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = inviteToSharedSessionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/shared-sessions/{id}/invites".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Leave a shared session
     * Removes the caller from the shared session. Owners cannot leave — they must transfer ownership or delete the session.
     * @param id Shared session ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun leaveSharedSession(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/shared-sessions/{id}/leave".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List active shared sessions for a game
     * Returns active shared sessions for the specified game, newest updated first.
     * @param id Game ID.
     * @return kotlin.collections.List<SharedSessionResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listGameSharedSessions(id: kotlin.String): HttpResponse<kotlin.collections.List<SharedSessionResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/games/{id}/shared-sessions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListGameSharedSessionsResponse>().map { value }
    }

    @Serializable(ListGameSharedSessionsResponse.Companion::class)
    private class ListGameSharedSessionsResponse(val value: List<SharedSessionResponse>) {
        companion object : KSerializer<ListGameSharedSessionsResponse> {
            private val serializer: KSerializer<List<SharedSessionResponse>> = serializer<List<SharedSessionResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListGameSharedSessionsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListGameSharedSessionsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List shared sessions the caller is a member of
     * Returns shared sessions where the caller is a member, newest updated first.
     * @return kotlin.collections.List<SharedSessionResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listMySharedSessions(): HttpResponse<kotlin.collections.List<SharedSessionResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/shared-sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListMySharedSessionsResponse>().map { value }
    }

    @Serializable(ListMySharedSessionsResponse.Companion::class)
    private class ListMySharedSessionsResponse(val value: List<SharedSessionResponse>) {
        companion object : KSerializer<ListMySharedSessionsResponse> {
            private val serializer: KSerializer<List<SharedSessionResponse>> = serializer<List<SharedSessionResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListMySharedSessionsResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListMySharedSessionsResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List pending shared session invites for the caller
     * Returns pending shared session invites for the authenticated user.
     * @return kotlin.collections.List<SharedSessionInviteResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSharedSessionInvites(): HttpResponse<kotlin.collections.List<SharedSessionInviteResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/user/shared-session-invites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListSharedSessionInvitesResponse>().map { value }
    }

    @Serializable(ListSharedSessionInvitesResponse.Companion::class)
    private class ListSharedSessionInvitesResponse(val value: List<SharedSessionInviteResponse>) {
        companion object : KSerializer<ListSharedSessionInvitesResponse> {
            private val serializer: KSerializer<List<SharedSessionInviteResponse>> = serializer<List<SharedSessionInviteResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListSharedSessionInvitesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListSharedSessionInvitesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List save states for a shared session
     * Requires membership. Returns saves newest first.
     * @param id Shared session ID.
     * @return kotlin.collections.List<SharedSessionSaveResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSharedSessionSaves(id: kotlin.String): HttpResponse<kotlin.collections.List<SharedSessionSaveResponse>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/shared-sessions/{id}/saves".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListSharedSessionSavesResponse>().map { value }
    }

    @Serializable(ListSharedSessionSavesResponse.Companion::class)
    private class ListSharedSessionSavesResponse(val value: List<SharedSessionSaveResponse>) {
        companion object : KSerializer<ListSharedSessionSavesResponse> {
            private val serializer: KSerializer<List<SharedSessionSaveResponse>> = serializer<List<SharedSessionSaveResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListSharedSessionSavesResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListSharedSessionSavesResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Remove a member from a shared session
     * Owner-only. Removes the specified member. If the removed user held the turn, it&#39;s released.
     * @param id Shared session ID.
     * @param userId User ID to remove.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun removeSharedSessionMember(id: kotlin.String, userId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/shared-sessions/{id}/members/{userId}".replace("{" + "id" + "}", "$id").replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Rename a shared session save
     * Requires membership. Updates the save&#39;s display name.
     * @param id Shared session ID.
     * @param saveId Save ID.
     * @param renameSharedSessionSaveRequest 
     * @return SharedSessionSaveResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun renameSharedSessionSave(id: kotlin.String, saveId: kotlin.String, renameSharedSessionSaveRequest: RenameSharedSessionSaveRequest): HttpResponse<SharedSessionSaveResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = renameSharedSessionSaveRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/shared-sessions/{id}/saves/{saveId}/rename".replace("{" + "id" + "}", "$id").replace("{" + "saveId" + "}", "$saveId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Extend the caller&#39;s turn
     * Refreshes turn_taken_at so the timeout doesn&#39;t expire. Only the current turn holder can call this.
     * @param id Shared session ID.
     * @return SharedSessionHeartbeatResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun sharedSessionHeartbeat(id: kotlin.String): HttpResponse<SharedSessionHeartbeatResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/shared-sessions/{id}/heartbeat".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Release the caller&#39;s turn on a shared session
     * Clears the active turn for the shared session. Only the current turn holder can call this.
     * @param id Shared session ID.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun sharedSessionReleaseTurn(id: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/shared-sessions/{id}/release-turn".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Take the turn on a shared session
     * Atomically acquires the turn. Returns a turnToken that save-upload requests must provide. Fails with 409 if another member holds the turn.
     * @param id Shared session ID.
     * @return SharedSessionTakeTurnResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun sharedSessionTakeTurn(id: kotlin.String): HttpResponse<SharedSessionTakeTurnResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/shared-sessions/{id}/take-turn".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a shared session&#39;s name or status
     * Owner-only. Partial update — nil fields are left unchanged. Valid statuses: active, completed, archived.
     * @param id Shared session ID.
     * @param updateSharedSessionRequest 
     * @return SharedSessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateSharedSession(id: kotlin.String, updateSharedSessionRequest: UpdateSharedSessionRequest): HttpResponse<SharedSessionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = updateSharedSessionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/shared-sessions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
