/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.spela.client.apis

import com.spela.client.models.HumaError
import com.spela.client.models.ListBlocksResponse
import com.spela.client.models.MessageResponse
import com.spela.client.models.OnlineUsersResponse
import com.spela.client.models.PaginatedResponseActivityEventResponse
import com.spela.client.models.PaginatedResponseUserSearchResult
import com.spela.client.models.PublicProfileResponse
import com.spela.client.models.UserSearchResult

import com.spela.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SocialApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Block another user
     * Adds the specified user to the caller&#39;s block list. The relationship is enforced symmetrically — neither party will see the other in search/profile/invite endpoints.
     * @param userId User ID to block.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createBlock(userId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/user/blocks/{userId}".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Unblock another user
     * Removes the specified user from the caller&#39;s block list.
     * @param userId User ID to unblock.
     * @return MessageResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteBlock(userId: kotlin.String): HttpResponse<MessageResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/user/blocks/{userId}".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get the global activity feed
     * Returns a paginated activity feed (most recent first) with per-event user and game metadata.
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-100). (optional)
     * @return PaginatedResponseActivityEventResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getActivityFeed(page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseActivityEventResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/social/activity",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List users currently online
     * Returns users currently connected via WebSocket, optionally with the game they are currently playing.
     * @return OnlineUsersResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getOnlineUsers(): HttpResponse<OnlineUsersResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/social/online",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a user&#39;s public profile
     * Returns a user&#39;s public profile including stats, favorite games, recent games, and top-played games.
     * @param id User ID.
     * @return PublicProfileResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPublicProfile(id: kotlin.String): HttpResponse<PublicProfileResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/users/{id}/profile".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get the caller&#39;s recent play partners
     * Returns users the caller has shared netplay or shared sessions with in the last 6 months, sorted by most recent interaction.
     * @return kotlin.collections.List<UserSearchResult>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getRecentPartners(): HttpResponse<kotlin.collections.List<UserSearchResult>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/users/recent-partners",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetRecentPartnersResponse>().map { value }
    }

    @Serializable(GetRecentPartnersResponse.Companion::class)
    private class GetRecentPartnersResponse(val value: List<UserSearchResult>) {
        companion object : KSerializer<GetRecentPartnersResponse> {
            private val serializer: KSerializer<List<UserSearchResult>> = serializer<List<UserSearchResult>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetRecentPartnersResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetRecentPartnersResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List the caller&#39;s blocked users
     * Returns the users the authenticated caller has blocked.
     * @return ListBlocksResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listBlocks(): HttpResponse<ListBlocksResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/user/blocks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Search for users
     * Returns a paginated list of users matching the supplied username prefix (or all non-disabled users when the query is empty), excluding the authenticated user.
     * @param q Optional username prefix filter. (optional)
     * @param page 1-based page number (defaults to 1). (optional)
     * @param pageSize Page size (defaults to 20, clamped to 1-50). (optional)
     * @return PaginatedResponseUserSearchResult
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun searchUsers(q: kotlin.String? = null, page: kotlin.Long? = null, pageSize: kotlin.Long? = null): HttpResponse<PaginatedResponseUserSearchResult> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        pageSize?.apply { localVariableQuery["pageSize"] = listOf("$pageSize") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/users/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
